.index {
    margin: 20px;
    text-align: center;
}

.dashboard {
    width: 300px;
    height: 200px;
    padding: 50px;
    margin: 20px;
    float: left;
    border-radius: 5px;
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 255, 255, 1)), color-stop(100%, rgb(172, 203, 238))); */
    box-shadow: 0px 0px 5px 5px rgba(200, 197, 200, 1);
    color: black;
}

.used_unit {
    height: 10px;
    width: 100%;
    border: 2px solid black;
}

.dashboard h3 {
    padding-bottom: 10px;
}

.dashboard p {
    font-size: 25px;
}