h2 {
    text-align: center;
    padding: 100px 0 50px 0;
}

.add {
    float: right;
    padding: 0;
    margin: 0;
}

.select-rack {
    float: left;
    padding: 0;
    margin: 0;
}

.search {
    padding: 5px 0 10px 0;
}