header,
li,
#logo img,
header nav ul {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
}

header nav .fa-bars {
    display: none;
    float: left;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    text-align: center;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li {
    list-style-type: none;
}

#logo {
    float: left;
    margin: 10px 0 0 10px;
}

#logo img {
    width: 100px;
}

header nav {
    float: right;
    padding-top: 20px;
}

header nav ul li {
    float: left;
    margin-right: 25px;
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li:hover {
    padding-top: 5px;
}

@media screen and (max-width: 1024px) {
    header {
        height: 40px;
    }
    header nav ul li {
        margin-top: -12.4px;
    }
    #logo img {
        width: 40px;
    }
}

@media screen and (max-width: 820px) {
    header {
        height: 40px;
    }
    header nav .fa-bars {
        font-size: 22px;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        text-align: right;
        margin-top: -44px;
        padding-right: 10px;
    }
    header nav .fa-bars:hover {
        opacity: 0.5;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        height: 0;
        overflow: hidden;
        margin: 2px 0 0 0;
        padding: 0;
        width: 100%;
    }
    header nav ul.open {
        height: auto;
    }
    header nav ul li {
        width: 100%;
        padding: 2.5px 0 2.5px 0;
        margin: 0;
        font-size: 11px;
        border-top: 1px solid #dddddd;
        background: white;
    }
    header nav ul li:hover {
        background-color: #eeeeee;
    }
}