{% load static %} {% if user.is_superuser %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/error-list.css' %}">

<style>
    .name_error,
    .email_error,
    .phone_error,
    .address_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
    
    textarea {
        height: 80px;
        resize: none;
        padding: 10px 10px 10px 10px;
    }
</style>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container">
    <h2 style="padding-top: 50px; padding-bottom: 20px; text-align: center;">Add Customer</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="{% static 'js/error-list.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Full Name", "Email", "Phone", "Address"]
    setInput_text = ["name", "email", "phone", "address"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        i++
    }
    $('.errorlist').addClass("alert alert-danger");
</script>

<script type="text/javascript">
    var name = 0;
    var email = 0;
    var phone = 0;
    var address = 0;
    $(function() {
        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function myFunction() {
            if (validateName()) {
                $('#id_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#name_error").html("ต้องมีตัวอักษร 5-50 ตัว");
                $("#name_error").show();
                name = 0;
            } else {
                $('#id_name').css("border", "2px solid dodgerblue");
                $("#name_error").hide();
                name = 1;
            }
            if (validateEmail()) {
                $('#id_email').css("border", "2px solid rgb(252, 0, 0)");
                $("#email_error").html("รูปแบบ Email ไม่ถูกต้อง");
                $("#email_error").show();
                email = 0;
            } else {
                $('#id_email').css("border", "2px solid dodgerblue");
                $("#email_error").hide();
                email = 1;
            }
            if (validatePhone()) {
                $('#id_phone').css("border", "2px solid rgb(252, 0, 0)");
                $("#phone_error").html("กรุณากรอกเบอร์โทรศัพท์");
                $("#phone_error").show();
                phone = 0;
            } else {
                $('#id_phone').css("border", "2px solid dodgerblue");
                $("#phone_error").hide();
                phone = 1;
            }
            if (validateAddress()) {
                $('#id_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#address_error").html("กรุณากรอกที่อยู่");
                $("#address_error").show();
                address = 0;
            } else {
                $('#id_address').css("border", "2px solid dodgerblue");
                $("#address_error").hide();
                address = 1;
            }
            if (name == 1 && email == 1 &&
                phone == 1 && address == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_name').keyup(function() {
            if (validateName()) {
                $('#id_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#name_error").html("ต้องมีตัวอักษรตั้งแต่ 5-50 ตัว");
                $("#name_error").show();
                name = 0;
            } else {
                $('#id_name').css("border", "2px solid dodgerblue");
                $("#name_error").hide();
                name = 1;
            }
        });

        function validateName() {
            var name_length = $("#id_name").val().length;
            reg = /^[ ]{1}/
            if (name_length <= 0 || name_length > 50) {
                return true;
            } else {
                return false;
            }
        }


        $('#id_email').keyup(function() {
            if (validateEmail()) {
                $('#id_email').css("border", "2px solid rgb(252, 0, 0)");
                $("#email_error").html("รูปแบบ Email ไม่ถูกต้อง");
                $("#email_error").show();
                email = 0;
            } else {
                $('#id_email').css("border", "2px solid dodgerblue");
                $("#email_error").hide();
                email = 1;
            }
        });

        function validateEmail() {
            var email = $("#id_email").val();
            var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
            if (reg.test(email)) {
                return false;
            } else {
                return true;
            }
        }

        $('#id_phone').keyup(function() {
            if (validatePhone()) {
                $('#id_phone').css("border", "2px solid rgb(252, 0, 0)");
                $("#phone_error").html("กรุณากรอกเบอร์โทรศัพท์");
                $("#phone_error").show();
                phone = 0;
            } else {
                $('#id_phone').css("border", "2px solid dodgerblue");
                $("#phone_error").hide();
                phone = 1;
            }
        });

        function validatePhone() {
            var phone = $("#id_phone").val();
            if (phone == "") {
                return true;
            } else {
                return false;
            }
        }


        $('#id_address').keyup(function() {
            if (validateAddress()) {
                $('#id_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#address_error").html("ต้องมีตัวอักษร 25 ตัวขึ้นไป");
                $("#address_error").show();
                address = 0;
            } else {
                $('#id_address').css("border", "2px solid dodgerblue");
                $("#address_error").hide();
                address = 1;
            }
        });

        function validateAddress() {
            var address = $("#id_address").val();
            if (address == "") {
                return true;
            } else {
                return false;
            }
        }


    });
</script>


<script>
    document.getElementById("id_name").placeholder = "Full Name";
    document.getElementById("id_email").placeholder = "Email";
    document.getElementById("id_phone").placeholder = "Phone Number";
    document.getElementById("id_address").placeholder = "Address";
</script>

<script>
    document.getElementById("id_name").required = false;
    document.getElementById("id_email").required = false;
    document.getElementById("id_phone").required = false;
    document.getElementById("id_address").required = false;
</script>

<script type="text/javascript">
    // คำสัง reload page ก่อนหน้าหลังปิดหน้านี้
    function RefreshParent() {
        if (window.opener != null && !window.opener.closed) {
            window.opener.location.reload();
        }
    }
    window.onbeforeunload = RefreshParent;
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'link-login-register' %}"> {% endif %}