{% extends 'base.html' %} {% load static %} {% block content %}
<div style="display: none;">
    {% block title %}{{customer.name}}{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container  table-responsive listview">
    <h2>{{customer.name}}</h2>
    <div align="center">
        <!-- table แสดงข้อมูลส่วนตัวของ customer -->
        <table class="table table-hover table-view  table-striped" style="width: 50%;">
            <thead>
                <tr>
                    <th colspan="2">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 30%">Full Name</th>
                    <td style="width: 70%">{{customer.name}}</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{customer.phone}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{customer.email}}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{customer.address}}</td>
                </tr>
            </tbody>
            {% if user.is_superuser %}
            <tfoot>
                <tr>
                    <td colspan="2">
                        <!-- ปุ่ม edit ข้อมูล customer -->
                        <a href="{% url 'update-customer' customer.id %}" class="btn btn-outline-success btn-block">
                            Update Customer</a>
                    </td>
                </tr>
            </tfoot>
            {% endif %}
        </table>

    </div>
    <br><br>

    <!-- table แสดง equipment ที่ customer คนนี้เป็นคนดูแล -->
    <h3>Equipment</h3>
    <table id="myTable" class="table table-hover table-view">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Name</th>
                <th>Location</th>
                <th>Rack</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="myBodyEquipment">
        </tbody>
    </table>

    <br><br>

    <!-- table แสดง ip address ที่ customer คนนี้เป็นคนดูแล -->
    <h3>IP Address</h3>
    <table id="myTable2" class="table table-hover table-view">
        <thead>
            <tr>
                <th>IP Address</th>
                <th style="width: 20%;">Description</th>
                <th>Equipment</th>
                <th>Create at</th>
            </tr>
        </thead>
        <tbody id="myBodyIPAddress">
        </tbody>
    </table>

    <br><br>

    <!-- table แสดง service ที่ customer คนนี้เป็นคนดูแล -->
    <h3>Service</h3>
    <table id="myTable3" class="table table-hover table-view">
        <thead>
            <tr>
                <th>Service</th>
                <th>Type</th>
                <th style="width: 25%">Description</th>
                <th>Equipment</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody id="myBodyService">
        </tbody>
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    var url = [];
    var i = 0;
    var body = "";
    var equipment = -1;
    var data = 0;
    // ลิล equipment ที่ customer เป็นคนดูแลอยู่
    "{% for rackequipment in rackequipment reversed %}"
    if ("{{rackequipment.equipment.id}}" != equipment) {
        body += "<tr position='{{rackequipment.rack}}'>";
        body += "<td style='vertical-align : middle;' onclick='link_to(" + i +
            ");' class='open-url'>{{rackequipment.equipment}}</td>";
        body += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_name}}</td>";
        body += "<td style='vertical-align : middle;'>" +
            "<a href='{% url 'rack-listview' rackequipment.rack.location.id %}'>" +
            "{{rackequipment.rack.location}}</a></td>";
        body += "<td style='vertical-align : middle;'>" +
            "<a href='{% url 'report-rack' rackequipment.rack.id %}'>{{rackequipment.rack}}</a></td>";
        body += "<td style='vertical-align : middle;'><div class='image' style='height: 50px; width: 50px;'>";
        if (String("{{rackequipment.equipment.image.url}}") == "/media/___/___/")
            body += "<img src='{% static 'images/equipment_image.png' %}' alt='Equipment'" +
            " style='max-width: 100%; max-height: 100%;'>";
        else
            body += "<img src='{{rackequipment.equipment.image.url}}' alt='Equipment'" +
            " style='max-width: 100%; max-height: 100%;'>";
        body += "</div></td>";
        body += "</tr>";
        equipment = "{{rackequipment.equipment.id}}";
        url.push("{% url 'equipment-detail' rackequipment.equipment.id %}");
        i++;
        data = 1;
    }
    "{% endfor %}"
    if (data == 0)
        body += "<tr><td colspan='5' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
    $('#myBodyEquipment').append(body);


    var body = "";
    // ลิล ip address ที่ customer เป็นคนดูแลอยู่
    "{% for ip_address in ip_address reversed %}"
    body += "<tr>";
    body += "<td style='vertical-align : middle;' onclick='link_to(" + i +
        ");' class='open-url'>{{ip_address.ip_address}}</td>";
    body += "<td style='vertical-align : middle;'>{{ ip_address.description }}</td>";
    body += "<td style='vertical-align : middle;'><a href='" +
        "{% url 'equipment-detail' ip_address.equipment.id %}" +
        "'>{{ip_address.equipment}}</a></td>";
    body += "<td style='vertical-align : middle;'>{{ip_address.create_at}}</td>";
    body += "</tr>";
    url.push("{% url 'ip-detail' ip_address.ip_network.id %}");
    i++;
    "{% empty %}"
    body += "<tr>";
    body += "<td colspan='4' style='vertical-align : middle; text-align: center;'>NO DATA</td>";
    body += "</tr>";
    "{% endfor %}"
    $('#myBodyIPAddress').append(body);

    var body = '';
    // ลิล service ที่ customer เป็นคนดูแลอยู่
    "{% for service in service reversed %}"
    body += "<tr>";
    body += '<td style="vertical-align : middle;" onclick="link_to(' + i +
        ');" class="open-url">{{service.name}}</td>';
    body += '<td style="vertical-align : middle;">{{service.type_service}}</td>';
    body += '<td style="vertical-align : middle;">{{service.description}}</td>';
    var serviceequipment = 0;
    var serviceipaddress = 0;
    "{% for serviceequipment in serviceequipment %}"
    if ("{{serviceequipment.service.id}}" == "{{service.id}}")
        serviceequipment++;
    "{% endfor %}"
    "{% for serviceipaddress in serviceipaddress %}"
    if ("{{serviceipaddress.service.id}}" == "{{service.id}}")
        serviceipaddress++;
    "{% endfor %}"
    body += '<td style="vertical-align : middle;">';
    body += "<table><tr>";
    body += "<td style='vertical-align : middle;'>" + serviceequipment + "</td>";
    body += "</tr></table>";
    body += "</td>";
    body += '<td style="vertical-align : middle;">';
    body += "<table><tr>";
    body += "<td style='vertical-align : middle;'>" + serviceipaddress + "</td>";
    body += "</tr></table>";
    body += "</td>";
    body += "</tr>";
    url.push("{% url 'report-service' service.id %}");
    i++;
    "{% empty %}"
    body += '<tr><td colspan="5" style="vertical-align : middle; text-align: center;">NO DATA</td></tr>';
    "{% endfor %}"
    $('#myBodyService').append(body);



    // จัดเรียงชื่อ equipment ตามตัวอักษร
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // จัดเรียงชื่อ ip address ตามตัวอักษร ไม่สมบูรณ์
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable2");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (parseInt(x.innerHTML, 16) > parseInt(y.innerHTML, 16)) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // จัดเรียงชื่อ service ตามตัวอักษร
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable3");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // ฟังก์ชันลิ้งค์ไปหน้าที่กำหนด
    function link_to(id) {
        window.location = url[id];
    }
</script>
{% endblock %}