{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_authenticated %}

<div style="display: none;">
    {% block title %}Customer Listview{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container  table-responsive listview">
    <h2>Customer View</h2>
    {% if user.is_superuser %}
    <!-- ลิ้งค์ไปหน้า add customer template View -->
    <a href="{% url 'add-customer-template-view' %}" class="btn btn-outline-success add">Add Customer</a> {% endif %}
    <!-- table แสดงรายชื่อ customer -->
    <table id="myTable" class="table table-hover table-view">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>

<script>
    // ลิสรายชื่อ customer
    var body = '';
    var customer = [];
    var i = 0;
    "{% for x in customer %}"
    body += '<tr>';
    body += '<td>{{x.name}}</td>';
    body += '<td>{{x.phone}}</td>';
    body += '<td>{{x.email}}</td>';
    body += "<td style='vertical-align : middle;'><a href='{% url 'customer-detail' x.id %}' class='btn btn-outline-primary'" +
        " role='button'>Detail</a></td>";
    "{% if user.is_superuser %}"
    body += "<td style='vertical-align : middle;'><a href='{% url 'delete-customer' x.id %}' onclick='return DeleteCustomer(" + i +
        ");' class='btn btn-outline-danger' role='button'>Delete</a></td>";
    "{% endif %}"
    body += '</tr>';
    customer.push("คุณต้องการลบ Customer {{x.name}}");
    i++;
    "{% endfor %}"
    $('#myBody').append(body);

    // จัดเรียงชื่อ customer ตามตัวอักษร
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // ฟังก์ชัน่แสดงเมื่อกดปุ่ม delete
    function DeleteCustomer(id) {
        var r = confirm(customer[id]);
        if (r == true)
            return true;
        else
            return false;
    }
</script>
{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'link-login-register' %}"> {% endif %} {% endblock %}