{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<style>
    .serial_number_error,
    .machine_name_error,
    .machine_weight_error,
    .electric_power_error,
    .machine_type_error,
    .image_error,
    .code_type_error,
    .code_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>


<div style="display: none;">
    {% block title %}Update Equipment{% endblock %}
</div>

{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<!-- ฟอร์มกรอกข้อมูล -->
<div class="container">
    <h2>Update Equipment</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save and Continue" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Full Name", "Phone", "Email", "Address"]
    setInput_text = ["name", "phone", "email", "address"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        if (setInput_text[i] != "customer") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] +
                '_error"></p></label>');
        } else {
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addCustomer'" +
                'onclick="ShowPopup(' + "'add-customer'" + ');">Add Customer?</a></label>');
        }
        i++;
    }
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'customer-listview' %}"> {% endif %} {% endblock %}