 {% extends 'base.html' %} {% block content %}
<style>
    #old_password_error,
    #new_password2_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
    
    #new_password1_error,
    #new_password1_error2,
    #new_password1_error3,
    #new_password1_error4,
    #new_password1_error5 {
        font-size: 12px;
        padding: 1px;
        margin: 1px;
    }
    
    .helptext {
        display: none;
    }
    
    .registerForm ul li {
        display: none;
    }
    
    form ul li {
        display: none;
    }
    
    .errorlist li {
        display: block;
    }
    
    textarea {
        resize: none;
    }
</style>
<div style="display: none;">
    {% block title %}Register{% endblock %}
    <input class="menu" value="register" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container">
    <h2>change passowrd</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="post">
        {% csrf_token %}{{ form.as_p }}
        <input type="submit" value="Change Password" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Old Password", "New Password", "New Password Confirmation"]
    setInput_text = ["old_password", "new_password1", "new_password2"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        if (setInput_text[i] == "new_password1") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="_' + setInput_text[i] + '_error">ต้องมีอย่างน้อย 8-20 ตัว</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error2" class="_' + setInput_text[i] + '_error2">ห้ามใช้ตัวอักษรพิเศษ</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error3" class="_' + setInput_text[i] + '_error3">ห้ามกรอกข้อมูลเป็นภาษาไทย</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error4" class="_' + setInput_text[i] + '_error4">ต้องประกอบด้วยตัวอักษรภาษอังกฤษอย่างน้อย 1 ตัว</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error5" class="_' + setInput_text[i] + '_error5">ต้องประกอบด้วยตัวเลขอย่างน้อย 1 ตัว</p></label><br>');
        } else
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="_' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        i++
    }

    $('label[for="id_user_status"]').replaceWith('<label>User Status</label>');
    var user_status = '<select name="user_status" id="id_user_status" class="form-control my-0 py-1 lime-border">';
    user_status += '<option value="user">User</option>';
    user_status += '<option value="admin">Admin</option>';
    user_status += '</select>';
    $('input[id="id_user_status"]').replaceWith(user_status);

    // แก้ไข error ที่แสดงหลังกด submit
    $('.errorlist').replaceWith('<label class="errorlist alert alert-danger">รหัสผ่านของท่านคาดเดาง่าย</label>');
</script>
<script type="text/javascript">
    var old_password = 0;
    var password = 0;
    var passowrd1;
    $(function() {
        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateidOldPassword()) {
                $('#id_old_password').css("border", "2px solid rgb(252, 0, 0)");
                $("#old_password_error").html("ห้ามใช้ตัวอักษรพิเศษ");
                $("#old_password_error").show();
                old_password = 0;
            } else {
                $('#id_old_password').css("border", "2px solid dodgerblue");
                $("#old_password_error").hide();
                old_password = 1;
            }
            if (validatePassword1()) {
                $('#id_new_password1').css("border", "2px solid rgb(252, 0, 0)");
            } else {
                $('#id_new_password1').css("border", "2px solid dodgerblue");
            }
            if (validatePassword2()) {
                $('#id_new_password2').css("border", "2px solid rgb(252, 0, 0)");
                $("#new_password2_error").html("Password ไม่ตรงกัน");
                $("#new_password2_error").show();
                password = 0;
            } else {
                $('#id_new_password2').css("border", "2px solid dodgerblue");
                $("#password2_error").hide();
                password = 1;
            }
            if (old_password == 1 && password == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_old_password').keyup(function() {
            if (validateidOldPassword()) {
                $('#id_old_password').css("border", "2px solid rgb(252, 0, 0)");
                $("#old_password_error").html("กรอกรหัสผ่านเก่า");
                $("#old_password_error").show();
                username = 0;
            } else {
                $('#id_old_password').css("border", "2px solid dodgerblue");
                $("#old_password_error").hide();
                username = 1;
            }
        });

        $('#id_new_password1').keyup(function() {
            if (validatePassword1()) {
                $('#id_new_password1').css("border", "2px solid rgb(252, 0, 0)");
            } else {
                $('#id_new_password1').css("border", "2px solid dodgerblue");
            }
        });
        $('#id_new_password2').keyup(function() {
            if (validatePassword2()) {
                $('#id_new_password2').css("border", "2px solid rgb(252, 0, 0)");
                $("#new_password2_error").html("Password ไม่ตรงกัน");
                $("#new_password2_error").show();
                password = 0;
            } else {
                $('#id_new_password2').css("border", "2px solid dodgerblue");
                $("#new_password2_error").hide();
                password = 1;
            }
        });

        function validatePassword2() {
            var new_password2 = $("#id_new_password2").val();
            if (new_password2 != $("#id_new_password1").val() || new_password2 == "") {
                return true;
            } else {
                return false;
            }
        }

        function validatePassword1() {
            new_password1_length = $("#id_new_password1").val().length;
            new_password1 = $("#id_new_password1").val();
            var reg = /[\!\@\#\$\%\^\&\฿\*\(\)\-\=\}\{\[\]\?\/\\\>\<\?\.\,\๐\'\"\+\;\:\_\ ]/g
            var reg2 = /[ก-ฮ]/g
            var reg3 = /[a-z]/g
            var reg4 = /[0-9]/g
            if (new_password1_length < 8 || new_password1_length > 20) {
                $("#new_password1_error").css("color", "rgb(252, 0, 0)");
            } else {
                $("#new_password1_error").css("color", "rgb(0, 255, 34)");
            }
            if (reg.test(new_password1)) {
                $("#new_password1_error2").css("color", "rgb(252, 0, 0)");
            } else {
                $("#new_password1_error2").css("color", "rgb(0, 255, 34)");
            }
            if (reg2.test(new_password1)) {
                $("#new_password1_error3").css("color", "rgb(252, 0, 0)");
            } else {
                $("#new_password1_error3").css("color", "rgb(0, 255, 34)");
            }
            if (!reg3.test(new_password1)) {
                $("#new_password1_error4").css("color", "rgb(252, 0, 0)");
            } else {
                $("#new_password1_error4").css("color", "rgb(0, 255, 34)");
            }
            if (!reg4.test(new_password1)) {
                $("#new_password1_error5").css("color", "rgb(252, 0, 0)");
            } else {
                $("#new_password1_error5").css("color", "rgb(0, 255, 34)");
            }
            return false;
        }

        function validateidOldPassword() {
            var old_password = $("#id_old_password").val();
            if (old_password == "") {
                return true;
            } else {
                return false;
            }
        }
    });
</script>
{% endblock %}