{% extends 'base.html' %} {% block content %} {% if user.is_superuser %}
<style>
    ._username_error,
    ._password2_error,
    .email_error,
    .first_name_error,
    .last_name_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
    
    ._password1_error,
    ._password1_error2,
    ._password1_error3,
    ._password1_error4,
    ._password1_error5 {
        font-size: 12px;
        padding: 1px;
        margin: 1px;
    }
    
    .helptext {
        display: none;
    }
    
    .registerForm ul li {
        display: none;
    }
    
    form ul li {
        display: none;
    }
    
    .errorlist li {
        display: block;
    }
    
    textarea {
        resize: none;
    }
</style>
<div style="display: none;">
    {% block title %}Register{% endblock %}
    <input class="menu" value="register" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container">
    <h2>Register</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Register" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Username", "Password", "Password Confirmation", "First Name", "Last Name", "Email"]
    setInput_text = ["username", "password1", "password2", "first_name", "last_name", "email"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        if (setInput_text[i] == "password1") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="_' + setInput_text[i] + '_error">ต้องมีอย่างน้อย 8-20 ตัว</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error2" class="_' + setInput_text[i] + '_error2">ห้ามใช้ตัวอักษรพิเศษ</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error3" class="_' + setInput_text[i] + '_error3">ห้ามกรอกข้อมูลเป็นภาษาไทย</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error4" class="_' + setInput_text[i] + '_error4">ต้องประกอบด้วยตัวอักษรภาษอังกฤษอย่างน้อย 1 ตัว</p></label><br>');
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error5" class="_' + setInput_text[i] + '_error5">ต้องประกอบด้วยตัวเลขอย่างน้อย 1 ตัว</p></label><br>');
        } else
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="_' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        i++
    }

    $('label[for="id_user_status"]').replaceWith('<label>User Status</label>');
    var user_status = '<select name="user_status" id="id_user_status" class="form-control my-0 py-1 lime-border">';
    user_status += '<option value="user">User</option>';
    user_status += '<option value="admin">Admin</option>';
    user_status += '</select>';
    $('input[id="id_user_status"]').replaceWith(user_status);

    // แก้ไข error ที่แสดงหลังกด submit
    if ($('.errorlist').text() != "**Username นี้เคยลงทะเบียนแล้ว") {
        $('.errorlist').addClass("alert alert-danger");
        $('.errorlist').text("**รหัสผ่านของท่านคาดเดาง่าย");
    }
</script>
<script type="text/javascript">
    var username = 0;
    var password = 0;
    var password1 = 0;
    var password2 = 0;
    var first_name = 0;
    var last_name = 0;
    var email = 0;
    $(function() {
        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateUsername()) {
                $('#id_username').css("border", "2px solid rgb(252, 0, 0)");
                $("#username_error").html("ห้ามใช้ตัวอักษรพิเศษ");
                $("#username_error").show();
                username = 0;
            } else {
                $('#id_username').css("border", "2px solid dodgerblue");
                $("#username_error").hide();
                username = 1;
            }
            if (validatePassword1()) {
                $('#id_password1').css("border", "2px solid rgb(252, 0, 0)");
                password1 = 0;
            } else {
                $('#id_password1').css("border", "2px solid dodgerblue");
                password1 = 1;
            }
            if (validatePassword2()) {
                $('#id_password2').css("border", "2px solid rgb(252, 0, 0)");
                $("#password2_error").html("Password ไม่ตรงกัน");
                $("#password2_error").show();
                password = 0;
            } else {
                $('#id_password2').css("border", "2px solid dodgerblue");
                $("#password2_error").hide();
                password = 1;
            }
            validateFirstName();
            validateLastName();
            validateEmail();
            if (username == 1 && password1 == 1 && password2 == 1 && first_name == 1 && last_name == 1 && email == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_email').keyup(function() {
            validateEmail();
        });

        function validateEmail() {
            var mail = $("#id_email").val();
            var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
            if (reg.test(mail)) {
                $('#id_email').css("border", "2px solid dodgerblue");
                $("#email_error").hide();
                email = 1;
            } else {
                $('#id_email').css("border", "2px solid rgb(252, 0, 0)");
                $("#email_error").html("รูปแบบ Email ไม่ถูกต้อง");
                $("#email_error").show();
                email = 0;
            }
        }
        $('#id_first_name').keyup(function() {
            validateFirstName();
        });

        function validateFirstName() {
            var name = $('#id_first_name').val();
            if (name == "") {
                $('#id_first_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#first_name_error").html("กรุณากรอกข้อมูล");
                $("#first_name_error").show();
                first_name = 0;
            } else {
                $('#id_first_name').css("border", "2px solid dodgerblue");
                $("#first_name_error").hide();
                first_name = 1;
            }
        }
        $('#id_last_name').keyup(function() {
            validateLastName();
        });

        function validateLastName() {
            var name = $('#id_last_name').val();
            if (name == "") {
                $('#id_last_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#last_name_error").html("กรุณากรอกข้อมูล");
                $("#last_name_error").show();
                last_name = 0;
            } else {
                $('#id_last_name').css("border", "2px solid dodgerblue");
                $("#last_name_error").hide();
                last_name = 1;
            }
        }
        $('#id_username').keyup(function() {
            if (validateUsername()) {
                $('#id_username').css("border", "2px solid rgb(252, 0, 0)");
                $("#username_error").html("ห้ามใช้ตัวอักษรพิเศษ");
                $("#username_error").show();
                username = 0;
            } else {
                $('#id_username').css("border", "2px solid dodgerblue");
                $("#username_error").hide();
                username = 1;
            }
        });

        $('#id_password1').keyup(function() {
            if (validatePassword1()) {
                $('#id_password1').css("border", "2px solid rgb(252, 0, 0)");
                password1 = 0;
            } else {
                $('#id_password1').css("border", "2px solid dodgerblue");
                password1 = 1;
            }
        });
        $('#id_password2').keyup(function() {
            if (validatePassword2()) {
                $('#id_password2').css("border", "2px solid rgb(252, 0, 0)");
                $("#password2_error").html("Password ไม่ตรงกัน");
                $("#password2_error").show();
                password2 = 0;
            } else {
                $('#id_password2').css("border", "2px solid dodgerblue");
                $("#password2_error").hide();
                password2 = 1;
            }
        });

        function validatePassword2() {
            var password2 = $("#id_password2").val();
            if (password2 != $("#id_password1").val() || password2 == "") {
                return true;
            } else {
                return false;
            }
        }

        function validatePassword1() {
            password1_length = $("#id_password1").val().length;
            password1 = $("#id_password1").val();
            var reg = /[\!\@\#\$\%\^\&\฿\*\(\)\-\=\}\{\[\]\?\/\\\>\<\?\.\,\๐\'\"\+\;\:\_\ ]/g
            var reg2 = /[ก-ฮ]/g
            var reg3 = /[a-z]/g
            var reg4 = /[0-9]/g
            var validate = 1
            if (password1_length < 8 || password1_length > 20) {
                $("#password1_error").css("color", "rgb(252, 0, 0)");
                validate = 0;
            } else {
                $("#password1_error").css("color", "rgb(0, 255, 0)");
            }
            if (reg.test(password1)) {
                $("#password1_error2").css("color", "rgb(252, 0, 0)");
                validate = 0;
            } else {
                $("#password1_error2").css("color", "rgb(0, 255, 0)");
            }
            if (reg2.test(password1)) {
                $("#password1_error3").css("color", "rgb(252, 0, 0)");
                validate = 0;
            } else {
                $("#password1_error3").css("color", "rgb(0, 255, 0)");
            }
            if (!reg3.test(password1)) {
                $("#password1_error4").css("color", "rgb(252, 0, 0)");
                validate = 0;
            } else {
                $("#password1_error4").css("color", "rgb(0, 255, 0)");
            }
            if (!reg4.test(password1)) {
                $("#password1_error5").css("color", "rgb(252, 0, 0)");
                validate = 0;
            } else {
                $("#password1_error5").css("color", "rgb(0, 255, 0)");
            }
            if (validate == 1)
                return false;
            else
                return true;
        }

        function validateUsername() {
            var username = $("#id_username").val();
            var reg = /[\!\@\#\$\%\^\&\฿\*\(\)\-\=\}\{\[\]\?\/\\\>\<\?\.\,\๐\'\"\+\;\:\_\ ]/g
            if (reg.test(username) || username == "") {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'index' %}"> {% endif %} {% endblock %}