{% extends 'base.html' %} {% load static %} {% block content %}
<style>
    .carousel-item {
        height: 91vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div style="display: none;">
    {% block title %}Profile{% endblock %}
    <input class="menu" value="profile" readonly>
</div>

<div class="container" align="center">
    <h2>Profile</h2>

    <!-- แสดงให้เห็นว่ามีข้อมูลส่วนไหนที่ยังไม่สมบูรณ์ -->
    {% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" %}
    <label for="" class="alert alert-danger btn-block">กรุณากรอกข้อมูลส่วนตัวให้สมบูรณ์</label> {% endif %} {% if user_data.image == "" %}
    <label for="" class="alert alert-danger btn-block">กรุณาใส่รูปภาพ</label> {% endif %}

    <!-- table สำหรับวางตำแหน่งส่วนต่าง -->
    <table id="profile">
        <tr>
            <td id="slot_1">
                <table border="1">
                    <thead>
                        <tr>
                            <!-- แสดงรูป -->
                            <td id="profile_image">
                                {% if not user_data.image %}
                                <img src="{% static 'images/profile.png' %}" class="rounded" alt=""> {% else %}
                                <img src="{{user_data.image.url}}" class="rounded" alt=""> {% endif %} {% if user.id == user_data.user.id%}
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <!-- ฟอร์มสำหรับ save รูปโปรไฟล์ -->
                                    <form method="POST" enctype="multipart/form-data" id="myForm">
                                        {% csrf_token %} {{ form.as_p }}
                                    </form>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <!-- ฟังชั่นที่ผู้ใช้สามารถใช้งานได้ -->
                        {% if user.id == user_data.user.id%}
                        <tr>
                            <td style="padding: 15px;">
                                <a href="/superuser/password_change/">Change Password</a>
                            </td>
                        </tr>
                        {% endif %} {% if user.id == user_data.user.id and user.is_superuser %}
                        <tr>
                            <td style="padding: 15px;">
                                <a href="{% url 'add-user' %}">Add User</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px;">
                                <a href="/accounts/admin/" target="_blank">Management</a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </td>
            <td id="slot_2">
                <!-- แสดงข้อมูลของผู้ใช้ -->
                <table style="width: 100%;">
                    <thead>
                        <tr class="table-secondary">
                            <td style="text-align: left; padding: 10px;">Detail</td>
                            <td style="text-align: right; padding: 10px;">
                                {% if user.id == user_data.user.id%}
                                <a href="{% url 'update-profile' user_data.id %}">Edit</a> {% endif %}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding: 10px;width: 50%;">First Name: {{user_data.first_name}}</td>
                            <td style="padding: 10px;width: 50%;">Last Name: {{user_data.last_name}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;width: 50%;">Email: {{user_data.email}}</td>
                            <td style="padding: 10px;width: 50%;">Phone Number: {{user_data.phone}}</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;width: 100%;" colspan="2">Address: <br>{{user_data.address}}</td>
                        </tr>
                        <tr>
                            <table style="width: 100%; text-align: center;" border="1">
                                <tr style="height: 50px;"></tr>
                                <tr>
                                    <td style="width: 50%;padding: 30px;">
                                        <h3>Last Login</h3>
                                        <p>{{user_data.user.last_login}}</p>
                                    </td>
                                    <td style="width: 50%;padding: 30px;">
                                        <h3>Create Account</h3>
                                        <p>{{user_data.user.date_joined}}</p>
                                    </td>
                                </tr>
                            </table>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    $('form p').replaceWith('<input type="file" name="image" accept="image/*" id="id_image">');
    // เมื่อมีการเพิ่มรูปให้ส่งงข้อมูลในฟอร์ม
    $('#id_image').change(function() {
        $("#myForm").submit();
    })
</script>{% endblock %}