{% extends 'base.html' %} {% block content %} {% if user.id == user_data.user.id%}
<style>
    ._username_error,
    ._password1_error,
    ._password2_error,
    ._first_name_error,
    ._last_name_error,
    ._email_error,
    ._phone_error,
    ._address_error,
    .profile_image_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
    
    .helptext {
        display: none;
    }
    
    .registerForm ul li {
        display: none;
    }
    
    form ul li {
        display: none;
    }
    
    .errorlist li {
        display: block;
    }
    
    textarea {
        resize: none;
    }
</style>
<div style="display: none;">
    {% block title %}Edit Profile{% endblock %}
</div>

<div class="container">
    <h2>Edit Profile</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Username", "Password", "Password Confirmation",
        "First Name", "Last Name", "Email", "Phone", "Address"
    ]
    setInput_text = ["username", "password1", "password2",
        "first_name", "last_name", "email", "phone", "address"
    ]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] +
            ' form-control my-0 py-1 lime-border');
        $('.' + setInput_text[i]).after('<label><p id="' +
            setInput_text[i] + '_error" class="_' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' +
            setLabel_input[i] + '</label>');
        i++
    }
</script>


<script type="text/javascript">
    var username = 0;
    var password = 0;
    var first_name = 0;
    var last_name = 0;
    var email = 0;
    var password1;
    var phone = 0;
    var address = 0;
    $(function() {

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateFirstName()) {
                $('#id_first_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#first_name_error").html("ห้ามใช้ตัวอักษรพิเศษ");
                $("#first_name_error").show();
                first_name = 0;
            } else {
                $('#id_first_name').css("border", "2px solid dodgerblue");
                $("#first_name_error").hide();
                first_name = 1;
            }
            if (validateLastName()) {
                $('#id_last_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#last_name_error").html("ห้ามใช้ตัวอักษรพิเศษหรือตัวเลข");
                $("#last_name_error").show();
                last_name = 0;
            } else {
                $('#id_last_name').css("border", "2px solid dodgerblue");
                $("#last_name_error").hide();
                last_name = 1;
            }
            if (validateEmail()) {
                $('#id_email').css("border", "2px solid rgb(252, 0, 0)");
                $("#email_error").html("รูปแบบ Email ไม่ถูกต้อง");
                $("#email_error").show();
                email = 0;
            } else {
                $('#id_email').css("border", "2px solid dodgerblue");
                $("#email_error").hide();
                email = 1;
            }
            if (validatePhone()) {
                $('#id_phone').css("border", "2px solid rgb(252, 0, 0)");
                $("#phone_error").html("กรุณากรอกเบอร์โทรศัพท์");
                $("#phone_error").show();
                phone = 0;
            } else {
                $('#id_phone').css("border", "2px solid dodgerblue");
                $("#phone_error").hide();
                phone = 1;
            }
            if (validateAddress()) {
                $('#id_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#address_error").html("กรุณากรอกที่อยู่");
                $("#address_error").show();
                address = 0;
            } else {
                $('#id_address').css("border", "2px solid dodgerblue");
                $("#address_error").hide();
                address = 1;
            }
            if (username == 1 && password == 1 && first_name == 1 && last_name == 1 &&
                email == 1, phone == 1 && address == 1)
                return true;
            else
                return false;

        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_first_name').keyup(function() {
            if (validateFirstName()) {
                $('#id_first_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#first_name_error").html("ห้ามใช้ตัวอักษรพิเศษหรือตัวเลข");
                $("#first_name_error").show();
                first_name = 0;
            } else {
                $('#id_first_name').css("border", "2px solid dodgerblue");
                $("#first_name_error").hide();
                first_name = 1;
            }
        });

        function validateFirstName() {
            var firstname = $("#id_first_name").val();
            var reg = /[\!\@\#\$\%\^\&\฿\*\(\)\-\=\}\{\[\]\?\/\\\>\<\?\.\,\๐\'\"\+\;\:\_\0-9\ ]/g
            if (reg.test(firstname) || firstname == "") {
                return true;
            } else {
                return false;
            }
        }

        $('#id_last_name').keyup(function() {
            if (validateLastName()) {
                $('#id_last_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#last_name_error").html("ห้ามใช้ตัวอักษรพิเศษ");
                $("#last_name_error").show();
                last_name = 0;
            } else {
                $('#id_last_name').css("border", "2px solid dodgerblue");
                $("#last_name_error").hide();
                last_name = 1;
            }
        });

        function validateLastName() {
            var lastname = $("#id_last_name").val();
            var reg = /[\!\@\#\$\%\^\&\฿\*\(\)\-\=\}\{\[\]\?\/\\\>\<\?\.\,\๐\'\"\+\;\:\_\0-9\ ]/g
            if (reg.test(lastname) || lastname == "") {
                return true;
            } else {
                return false;
            }
        }

        $('#id_email').keyup(function() {
            if (validateEmail()) {
                $('#id_email').css("border", "2px solid rgb(252, 0, 0)");
                $("#email_error").html("รูปแบบ Email ไม่ถูกต้อง");
                $("#email_error").show();
                email = 0;
            } else {
                $('#id_email').css("border", "2px solid dodgerblue");
                $("#email_error").hide();
                email = 1;
            }
        });

        function validateEmail() {
            var email = $("#id_email").val();
            var reg = /^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
            if (reg.test(email)) {
                return false;
            } else {
                return true;
            }
        }

        $('#id_phone').keyup(function() {
            if (validatePhone()) {
                $('#id_phone').css("border", "2px solid rgb(252, 0, 0)");
                $("#phone_error").html("กรุณากรอกเบอร์โทรศัพท์");
                $("#phone_error").show();
                phone = 0;
            } else {
                $('#id_phone').css("border", "2px solid dodgerblue");
                $("#phone_error").hide();
                phone = 1;
            }
        });

        function validatePhone() {
            var phone = $("#id_phone").val();
            if (phone == "") {
                return true;
            } else {
                return false;
            }
        }

        $('#id_address').keyup(function() {
            if (validateAddress()) {
                $('#id_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#address_error").html("กรุณากรอกที่อยู่");
                $("#address_error").show();
                address = 0;
            } else {
                $('#id_address').css("border", "2px solid dodgerblue");
                $("#address_error").hide();
                address = 1;
            }
        });

        function validateAddress() {
            var address = $("#id_address").val();
            if (address == "") {
                return true;
            } else {
                return false;
            }
        }

    });
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'index' %}"> {% endif %} {% endblock %}