{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<style>
    .rack_error,
    .acceptable_weight_error,
    .rack_weight_error,
    .location_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>
<div style="display: none;">
    {% block title %}Add Rack{% endblock %}
    <input class="menu" value="rack" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container">
    <h2 style="text-align: center">Add Rack</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Rack", "Acceptable Weight", "Rack Weight", "Rack Size", "Location"]
    setInput_text = ["rack", "acceptable_weight", "rack_weight", "rack_size", "location"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        i++
    }

    // $('.location').after("<label style='float: right;'><a href='#'" + 'onclick="ShowPopup(' + "'add-location'" + ');">Add Location?</a></label>');

    var location_select = '<select name="location" id="id_location" class="form-control my-0 py-1 lime-border">';
    "{% for x in location_all %}"
    location_select += '<option value="{{x.id}}">{{x.location}}</option>';
    "{% endfor %}"
    location_select += '</select>';
    $('select[id="id_location"]').replaceWith(location_select);
    $('#id_location').val("{{location.id}}");

    var unit = '<select name="rack_size" id="id_rack_size" class="form-control my-0 py-1 lime-border">';
    unit += '<option value="null">---------</option>';
    unit += '<option value="6">6</option>';
    unit += '<option value="9">9</option>';
    unit += '<option value="12">12</option>';
    unit += '<option value="15">15</option>';
    unit += '<option value="27">27</option>';
    unit += '<option value="36">36</option>';
    unit += '<option value="42">42</option>';
    unit += '</select>';
    $('input[id="id_rack_size"]').replaceWith(unit);
</script>

<script type="text/javascript">
    var rack = 0;
    var acceptable_weight = 0;
    var rack_weight = 0;
    var legs_weight = 0;
    var setLocation = 0;
    $(function() {

        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateRack()) {
                $('#id_rack').css("border", "2px solid rgb(252, 0, 0)");
                $("#rack_error").html("ต้องมีตัวอักษรอย่างน้อย 2 ตัว");
                $("#rack_error").show();
                rack = 0;
            } else {
                $('#id_rack').css("border", "2px solid dodgerblue");
                $("#rack_error").hide();
                rack = 1;
            }
            if (validateAcceptable()) {
                $('#id_acceptable_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#acceptable_weight_error").html("ห้ามต่ำกว่า 0");
                $("#acceptable_weight_error").show();
                acceptable_weight = 0;
            } else {
                $('#id_acceptable_weight').css("border", "2px solid dodgerblue");
                $("#acceptable_weight_error").hide();
                acceptable_weight = 1;
            }
            if (validateRackW()) {
                $('#id_rack_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#rack_weight_error").html("ห้ามต่ำกว่า 0");
                $("#rack_weight_error").show();
                rack_weight = 0;
            } else {
                $('#id_rack_weight').css("border", "2px solid dodgerblue");
                $("#rack_weight_error").hide();
                rack_weight = 1;
            }
            if ($('#id_location').val() == "") {
                $("#id_location").css("border", "2px solid rgb(255, 0, 0)");
                $("#location_error").html("โปรดเลือก Location");
                $("#location_error").show();
                setLocation = 0;
            } else {
                $("#id_location").css("border", "2px solid dodgerblue");
                $("#location_error").hide();
                setLocation = 1;
            }
            if (rack == 1 && acceptable_weight == 1 &&
                rack_weight == 1 && setLocation == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_location').change(function() {
            if ($(this).val() == "") {
                $("#id_location").css("border", "2px solid rgb(255, 0, 0)");
                $("#location_error").html("โปรดเลือก Location");
                $("#location_error").show();
                setLocation = 0;
            } else {
                $("#id_location").css("border", "2px solid dodgerblue");
                $("#location_error").hide();
                setLocation = 1;
            }
        });
        $('#id_rack').keyup(function() {
            if (validateRack()) {
                $('#id_rack').css("border", "2px solid rgb(252, 0, 0)");
                $("#rack_error").html("ต้องมีตัวอักษรอย่างน้อย 2 ตัว");
                $("#rack_error").show();
                rack = 0;
            } else {
                $('#id_rack').css("border", "2px solid dodgerblue");
                $("#rack_error").hide();
                rack = 1;
            }
        });
        $('#id_acceptable_weight').keyup(function() {
            if (validateAcceptable()) {
                $('#id_acceptable_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#acceptable_weight_error").html("ห้ามต่ำกว่า 0");
                $("#acceptable_weight_error").show();
                acceptable_weight = 0;
            } else {
                $('#id_acceptable_weight').css("border", "2px solid dodgerblue");
                $("#acceptable_weight_error").hide();
                acceptable_weight = 1;
            }
        });
        $('#id_rack_weight').keyup(function() {
            if (validateRackW()) {
                $('#id_rack_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#rack_weight_error").html("ห้ามต่ำกว่า 0");
                $("#rack_weight_error").show();
                rack_weight = 0;
            } else {
                $('#id_rack_weight').css("border", "2px solid dodgerblue");
                $("#rack_weight_error").hide();
                rack_weight = 1;
            }
        });
        $('#id_legs_weight').keyup(function() {
            if (validateLegs()) {
                $('#id_legs_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#legs_weight_error").html("ห้ามเท่ากับ 0 หรือต่ำกว่า 0");
                $("#legs_weight_error").show();
                legs_weight = 0;
            } else {
                $('#id_legs_weight').css("border", "2px solid dodgerblue");
                $("#legs_weight_error").hide();
                legs_weight = 1;
            }
        });

        function validateLegs() {
            var weight = $("#id_legs_weight").val();
            if (weight < 0.00) {
                return true;
            } else {
                return false;
            }
        }

        function validateRackW() {
            var weight = $("#id_rack_weight").val();
            if (weight < 0.00 || String(weight) == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateAcceptable() {
            var weight = $("#id_acceptable_weight").val();
            if (weight < 0.00 || String(weight) == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateRack() {
            var rack_length = $("#id_rack").val().length;
            if (rack_length < 2) {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

<script>
    document.getElementById("id_rack").placeholder = "Name";
    document.getElementById("id_acceptable_weight").placeholder = "Acceptable Weight";
    document.getElementById("id_rack_weight").placeholder = "Rack Weight";
    document.getElementById("id_legs_weight").placeholder = "Legs Weight";
</script>

<script>
    document.getElementById("id_rack").required = false;
    document.getElementById("id_acceptable_weight").required = false;
    document.getElementById("id_rack_weight").required = false;
    document.getElementById("id_legs_weight").required = false;
</script>
{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'rack-listview' %}"> {% endif %} {% endblock %}