{% extends 'base.html' %} {% load static %} {% block content %}

<div style="display: none;">
    {% block title %}Rack Listview{% endblock %}
    <input class="menu" value="rack" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}



<div class="container  table-responsive listview">
    <h2>{{location.location}}</h2>
    <div style="padding: 0 10% 20px 10%;">
        <h4>Address</h4>
        <p>{{location.address}}</p>
    </div>
    <div class="row">
        {% if user.is_superuser %}
        <!-- ลิ้งค์ไปหน้า add rack -->
        <div class="col-sm"><a href="{% url 'add-rack' location.id %}" class="btn btn-outline-success add">Add Rack</a></div>{% endif %}
    </div>
    <div class="row">
        <div class="col-md" style="padding: 0">
            <!-- div สำหรับ วาง dropdown location  -->
            <div id="select_location" style="float: left"></div>
        </div>
        <!-- ช่อง search  -->
        <div class="col-md" style="padding: 0">
            <div class="input-group md-form form-sm form-2 pl-0 search" style="float: right;">
                <input class="form-control my-0 py-1 lime-border mySearch" id="mySearch" type="search" placeholder="Search" aria-label="Search" style="max-width: 50%; margin-left: 50%;">
                <div class="input-group-append">
                    <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>

    <!-- table แสดง rack ที่อยู่ใน location  -->
    <table id="myTable" class="table table-hover table-view">
        <thead>
            <tr>
                <th>Rack</th>
                <th>Unit Front</th>
                <th>Unit Back</th>
                <th>Rack Weight(Kg)</th>
                <th>Weight(Kg)</th>
                <th>Power(WATT)</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script type="text/javascript">
    // สร้าง dropdown location 
    var select = '<select class="form-control select-location" id="id_location" name="location">';
    "{% for x in location_all %}"
    select += "<option value='{% url 'rack-listview' x.id %}'>{{x.location}}</option>";
    "{% endfor %}"
    select += '</select>';
    $('#select_location').append(select);

    // จัดเรียง dropdown location 
    var list, i, switching, b, shouldSwitch;
    list = document.getElementById("id_location");
    switching = true;
    while (switching) {
        switching = false;
        b = list.getElementsByTagName("option");
        for (i = 0; i < (b.length - 1); i++) {
            shouldSwitch = false;
            if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            b[i].parentNode.insertBefore(b[i + 1], b[i]);
            switching = true;
        }
    }
    // ตั้งให้ dropdown select location ที่ถูกเลือก
    $('#id_location').val("{% url 'rack-listview' location.id %}");
</script>

<script>
    var text_confirm = [];
    var confirm_delete = [];
    var rack = '';
    var out_rack = '';
    var unit_front = 0;
    var unit_back = 0;
    var equipment = -1;
    var weight = 0;
    var acceptable_weight = 0;
    var power = 0;
    var body = '';
    var equipment_weight = 0;

    // เมื่อเปลี่ยน location ใน dropdown ให้ไปยังหน้า location ที่เลือกไว้
    $('#id_location').change(function() {
        window.location = $(this).val();
    });

    $(document).ready(function() {
        text_confirm = [];
        rack = '';
        out_rack = '';
        var data = 0;
        var i = 0;

        // ลิส rack ที่อยู่ใน location 
        body = '<tbody id="myBody">';
        "{% for rack in rack reversed %}"
        text_confirm.push("คุณต้องการลบ Rack {{rack.rack}}");
        if (String("{{rack.rack}}") == "Out of Rack") {
            weight = 0;
            equipment_weight = 0;
            "{% for rackequipment in rackequipment %}"
            if ("{{ rackequipment.rack.rack }}" == "{{ rack.rack }}") {
                if ("{{ rackequipment.equipment }}" != equipment) {
                    weight += parseFloat("{{ rackequipment.equipment.machine_weight }}");
                    equipment = "{{ rackequipment.equipment }}";
                    equipment_weight += parseInt("{{ rackequipment.equipment.machine_weight }}");
                }
            }
            "{% endfor %}"
            out_rack += "<tr>";
            out_rack += "<td style='vertical-align : middle;'>{{rack.rack}}</td>";
            out_rack += "<td style='vertical-align : middle;'>-</td>";
            out_rack += "<td style='vertical-align : middle;'>-</td>";
            out_rack += "<td style='vertical-align : middle;'>-</td>";
            out_rack += "<td style='vertical-align : middle;'>" + weight + "</td>";
            out_rack += "<td style='vertical-align : middle;'>-</td>";
            out_rack += "<td style='vertical-align : middle;'><a href='{% url 'report-rack' rack.id %}'  class='btn btn-outline-primary'>Detail</a></td>";
            // out_rack += "<td style='vertical-align : middle;'><a onclick='return DeleteRack(" + i + ");' href='{% url 'delete-rack' rack.id %}'  class='btn btn-outline-danger'>Delete</a></td>";
            out_rack += "</tr>";
            confirm_delete.push(equipment_weight);
            data = 1;
        } else {
            equipment = -1;
            unit_front = 0;
            unit_back = 0;
            weight = 0;
            acceptable_weight = 0;
            power = 0;
            equipment_weight = 0;
            weight = parseFloat("{{rack.rack_weight}}");
            acceptable_weight = parseFloat("{{rack.acceptable_weight}}");
            "{% for rackequipment in rackequipment %}"
            if ("{{ rackequipment.rack.rack }}" == "{{ rack.rack }}") {
                if ("{{ rackequipment.equipment }}" != equipment) {
                    weight += parseFloat("{{ rackequipment.equipment.machine_weight }}");
                    power += parseFloat("{{ rackequipment.equipment.electric_power }}");
                    equipment = "{{ rackequipment.equipment }}";
                    equipment_weight += parseInt("{{ rackequipment.equipment.machine_weight }}");
                }
                if ("{{rackequipment.front_back}}" == "Front")
                    unit_front++;
                else if ("{{rackequipment.front_back}}" == "Back")
                    unit_back++;
                else {
                    unit_front++;
                    unit_back++;
                }
            }
            "{% endfor %}"
            rack += "<tr>";
            rack += "<td style='vertical-align : middle;'>{{rack.rack}}</td>";
            rack += "<td style='vertical-align : middle;'>";
            rack += String(unit_front);
            rack += "/{{rack.rack_size}}</td>";
            rack += "<td style='vertical-align : middle;'>";
            rack += String(unit_back);
            rack += "/{{rack.rack_size}}</td>";
            rack += "<td style='vertical-align : middle;'>{{rack.rack_weight}}</td>";
            if (weight <= acceptable_weight)
                rack += "<td style='vertical-align : middle; color: green;'>";
            else
                rack += "<td style='vertical-align : middle; color: red;'>";
            rack += String(weight.toFixed(2)) + "/" + String(acceptable_weight.toFixed(2));
            rack += '</td>';
            rack += "<td style='vertical-align : middle;'>" + String(power) + "</td>";
            rack += "<td style='vertical-align : middle;'><a href='{% url 'report-rack' rack.id %}'  class='btn btn-outline-primary'>Detail</a></td>";
            "{% if user.is_superuser %}"
            rack += "<td style='vertical-align : middle;'><a href='{% url 'update-rack' rack.id %}'  class='btn btn-outline-success'>Edit</a></td>";
            rack += "<td style='vertical-align : middle;'><a onclick='return DeleteRack(" + i + ");' href='{% url 'delete-rack' rack.id %}'  class='btn btn-outline-danger'>Delete</a></td>";
            "{% endif %}"
            rack += "</tr>";
            data = 1;
            confirm_delete.push(equipment_weight);
        }
        i++;
        "{% endfor %}"
        if (data == 0) {
            body += "<tr>";
            body += "<td colspan='6'  style='vertical-align : middle; text-align: center;'>NO DATA</td>";
            body += "</tr>";
        } else
            body += (out_rack + rack);
        body += '</tbody>';
        $('#myBody').replaceWith(body);

        // จัดเรียง rack ตามตัวอักษร โดยให้ out of rack ขึ้นก่อน
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (var i = 2; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    });

    // ฟังก์ชันตรวจสอบข้อมูลก่อนลบ rack 
    function DeleteRack(text) {
        if (confirm_delete[text] == 0) {
            var r = confirm(text_confirm[text]);
            if (r == true)
                return true;
            else
                return false;
        } else {
            alert("ท่านต้องลบหรือย้าย Equipment ให้หมดก่อน")
            return false;
        }
    }
</script>

<script>
    // ตำสั่งค้นหาภายใน table 
    $(document).ready(function() {
        $("#mySearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script> {% endblock %}