{% extends 'base.html' %} {% load static %} {% block content %}

<div style="display: none;">
    {% block title %}Rack Listview{% endblock %}
    <input class="menu" value="rack" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}



<div class="container  table-responsive listview" align="center">
    <h2>{{rack.rack}}</h2>
    <br><br>
    <div id="id_div" class="form-group select-rack"></div>
    <!-- table แสดง equipment ภายใน rack  -->
    <table id="myTable" class="table table-hover table-view">
        <thead>
            <tr>
                <th class="serial">Serial number</th>
                <th class="customer">Name</th>
                <th class="customer">Weight(Kg)</th>
                <th class="customer">Power(WATT)</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
        <tfoot id="myFoot">
        </tfoot>
    </table>
    <br><br> {% if rack.rack != 'Out of Rack' %}
    <h3>Front</h3>
    <ul id="id_unit_number" class="ks-cboxtags"></ul>
    <br><br>
    <h3>Back</h3>
    <ul id="id_unit_number2" class="ks-cboxtags"></ul>
    {% endif %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script type="text/javascript">
    // สร้าง dropdown rack ที่อยู่ใน location เดียวกัน
    var select = '<select class="form-control select-rack" id="id_rack" name="rack">';
    "{% for x in rack_inlocation %}"
    select += "<option value='{% url 'report-rack' x.id %}'>{{x.rack}}</option>";
    "{% endfor %}"
    select += '</select>';
    $('#id_div').append(select);

    // จัดเรียงข้อมูลใน dropdown ให้เรียงตามตัวอักษร
    var list, i, switching, b, shouldSwitch;
    list = document.getElementById("id_rack");
    switching = true;
    while (switching) {
        switching = false;
        b = list.getElementsByTagName("option");
        for (i = 1; i < (b.length - 1); i++) {
            shouldSwitch = false;
            if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            b[i].parentNode.insertBefore(b[i + 1], b[i]);
            switching = true;
        }
    }
    // ตั้งให้ dropdown select rack ที่ถูกเลือก
    $('#id_rack').val("{% url 'report-rack' rack.id %}");

    // เมื่อเปลี่ยน rack ใน dropdown ให้ไปยังหน้า rack ที่เลือกไว้
    $('#id_rack').change(function() {
        window.location = $(this).val();
    });
</script>

<script type="text/javascript">
    var body = "";
    var foot = "";
    var equipment = 0;
    var weight = 0.00;
    var power = 0.00;
    var url = []
    var i = 0;
    // ลิส equipment ที่อยู่ใน rack 
    "{% for rackequipment in rackequipment reversed %}"
    if ("{{rackequipment.equipment.id}}" != equipment) {
        body += "<tr position='{{rackequipment.rack}}'>";
        body += "<td style='vertical-align : middle;' onclick='link_to_equipment(" + i + ");' class='open-url'>{{rackequipment.equipment}}</td>";
        body += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_name}}</td>";
        body += "<td style='vertical-align : middle;'>" + parseFloat("{{rackequipment.equipment.machine_weight}}").toFixed(2) + "</td>";
        body += "<td style='vertical-align : middle;'>" + parseFloat("{{rackequipment.equipment.electric_power}}").toFixed(2) + "</td>";
        weight += parseFloat("{{rackequipment.equipment.machine_weight}}");
        power += parseFloat("{{rackequipment.equipment.electric_power}}");
        equipment = "{{rackequipment.equipment.id}}";
        url.push("{% url 'equipment-detail' rackequipment.equipment.id %}");
        i++;
    }
    "{% empty %}"
    body += "<tr><td colspan='4' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
    "{% endfor %}"
    foot += "<tr>"
    foot += "<th colspan='2' style='vertical-align : middle; text-align: center;'>Total</th>"
    foot += "<th style='vertical-align : middle;'>" + weight.toFixed(2) + "</th>"
    foot += "<th style='vertical-align : middle;'>" + power.toFixed(2) + "</th>"
    foot += "</tr>"
    $('#myBody').append(body);
    $('#myFoot').append(foot);

    // จัดเรียง equipment ตามตัวอักษร
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }


    // เมื่อคลิก equipment ให้ไปยังหน้า detail ของ equipment นั้น
    function link_to_equipment(id) {
        window.location = url[id];
    }
</script>
<script>
    $(document).ready(function() {
        var unit_front_check = [];
        var unit_back_check = [];
        var check = 0
            // สร้าง unit ให้เท่ากับ size ของ rack
        var unit_list = '<ul id="id_unit_number" class="ks-cboxtags">';
        for (var i = 1; i <= parseInt("{{rack.rack_size}}"); i++) {
            if (i < 10)
                unit_list += '<li id="front' + i + '"><input type="checkbox" value="Rainbow Dash" ><label for="' + i + '" checked>U0' + i + '</label></li>';
            else
                unit_list += '<li id="front' + i + '"><input type="checkbox" value="Rainbow Dash"><label for="' + i + '"checked>U' + i + '</label></li>';
        }
        $('ul[id="id_unit_number"]').replaceWith(unit_list);
        var unit_list = '<ul id="id_unit_number" class="ks-cboxtags">';
        for (var i = 1; i <= parseInt("{{rack.rack_size}}"); i++) {
            if (i < 10)
                unit_list += '<li id="back' + i + '"><input type="checkbox" value="Rainbow Dash"><label for="' + i + '">U0' + i + '</label></li>';
            else
                unit_list += '<li id="back' + i + '"><input type="checkbox" value="Rainbow Dash"><label for="' + i + '">U' + i + '</label></li>';
        }
        $('ul[id="id_unit_number2"]').replaceWith(unit_list);

        // ให้ unit ที่แสดงเป็นสีเขียว เมื่อยูนิตที่ถูกใช้ทั้งข้างหน้าและข้างหลัง
        "{% for rack_equipment in rackequipment %}"
        if ("{{rack_equipment.front_back}}" == "Front Back") {
            if (parseInt("{{rack_equipment.unit_number}}") < 10) {
                $('li[id="front{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment.machine_name}}" id="front{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U0{{rack_equipment.unit_number}}</label></li>');
                $('li[id="back{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment.machine_name}}" id="back{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U0{{rack_equipment.unit_number}}</label></li>');
            } else {
                $('li[id="front{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment.machine_name}}" id="front{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U{{rack_equipment.unit_number}}</label></li>');
                $('li[id="back{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment.machine_name}}" id="back{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U{{rack_equipment.unit_number}}</label></li>');
            }
        } else if ("{{rack_equipment.front_back}}" == "Front") {
            if (parseInt("{{rack_equipment.unit_number}}") < 10) {
                $('li[id="front{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment.machine_name}}" id="front{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U0{{rack_equipment.unit_number}}</label></li>');
            } else {
                $('li[id="front{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment.machine_name}}" id="front{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U{{rack_equipment.unit_number}}</label></li>');
            }
        } else if ("{{rack_equipment.front_back}}" == "Back") {
            if (parseInt("{{rack_equipment.unit_number}}") < 10) {
                $('li[id="back{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment}}" id="back{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U0{{rack_equipment.unit_number}}</label></li>');
            } else {
                $('li[id="back{{rack_equipment.unit_number}}"]').replaceWith('<li data-toggle="tooltip" title="{{rack_equipment.equipment}}" id="back{{rack_equipment.unit_number}}"><input type="checkbox" value="Rainbow Dash" checked><label for="{{rack_equipment.unit_number}}">U{{rack_equipment.unit_number}}</label></li>');
            }
        }
        "{% endfor %}"

    });
</script>
{% endblock %}