{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<style>
    .serial_number_error,
    .machine_name_error,
    .machine_weight_error,
    .electric_power_error,
    .machine_type_error,
    .image_error,
    .code_type_error,
    .code_error,
    .ip_address_error,
    .ip_network_error,
    .description_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>


<div style="display: none;">
    {% block title %}Add Equipment{% endblock %}
    <input class="menu" value="equipment" readonly>
</div>


<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}
<div class="container">
    <h2 style="text-align: center">Add Equipment</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save and Continue" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Serial Number", "Name", "Weight(Kg)", "Electric Power(W)", "Machine Type", "Customer", "Image", "Code", "Code Type", "Rack", "Front/Back", "Unit Range", "Location"]
    setInput_text = ["serial_number", "machine_name", "machine_weight", "electric_power", "machine_type", "customer", "image", "code", "code_type", "rack", "front_back", "unit_range", "location"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        if (setInput_text[i] != "customer") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        } else {
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addCustomer'" + 'onclick="ShowPopup(' + "'add-customer'" + ');">Add Customer?</a></label>');
        }
        "{% if user.is_superuser %}"
        if (setInput_text[i] == "machine_type")
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addCustomer'" + 'onclick="ShowPopup(' + "'add-equipment-type'" + ');">Add Type?</a></label>');
        "{% endif %}"
        i++;
    }
    $('input[id="id_unit_range"]').replaceWith('<input type="number" name="unit_range" step="any" id="id_unit_range" class="unit_range form-control my-0 py-1 lime-border">');

    // $('.location').after("<label style='float: right;'><a href='#'" + 'onclick="ShowPopup(' + "'add-location'" + ');">Add Location?</a></label>');
    $('ul[id="id_unit_number"]').hide();
    $('label[for="id_auto_generate"]').replaceWith('<input type="checkbox" name="auto_generate" id="id_auto_generate2">');
    $('input[id="id_auto_generate"]').replaceWith('<label for="id_auto_generate2">Auto Generate QR Code</label>');

    var code_type = '<select name="code_type" id="id_code_type" class="form-control my-0 py-1 lime-border">';
    code_type += '<option value="">---</option>';
    code_type += '<option value="Bar Code">Bar Code</option>';
    code_type += '<option value="QR Code">QR Code</option>';
    code_type += '</select>';
    $('input[id="id_code_type"]').replaceWith(code_type);



    var ipnetwork = '<select name="ip_network" id="id_ip_network" class="form-control my-0 py-1 lime-border">';
    ipnetwork += '<option value="">---</option>';
    "{% for x in ip_network %}"
    ipnetwork += '<option value="{{x.id}}">{{x.ip_network}}/{{x.subnet}}</option>';
    "{% endfor %}"
    ipnetwork += '</select>';
    $('input[id="id_ip_network"]').replaceWith(ipnetwork);


    var select_location = '<select name="select_location" id="id_select_location" class="form-control my-0 py-1 lime-border">';
    select_location += '<option value="0">Keep in the rack</option>';
    select_location += '<option value="1">Keep somewhere else</option>';
    select_location += '</select>';
    $('input[id="id_select_location"]').replaceWith(select_location);

    var f_b = '<select name="front_back" id="id_front_back" class="form-control my-0 py-1 lime-border">';
    f_b += '<option value="Front">Front</option>';
    f_b += '<option value="Back">Back</option>';
    f_b += '<option value="Front Back">ALL</option>';
    f_b += '</select>';
    $('input[id="id_front_back"]').replaceWith(f_b);

    var setLocation = '<select name="location" id="id_location" class="form-control my-0 py-1 lime-border">';
    setLocation += '<option value="">---------</option>';
    "{% for x in location %}"
    setLocation += '<option value="{{x.id}}">{{x.location}} {{x.address}}</option>';
    "{% endfor %}"
    setLocation += '</select>';
    $('input[id="id_location"]').replaceWith(setLocation);
</script>

<script type="text/javascript">
    $('document').ready(function() {
        $('#id_serial_number').val(localStorage.getItem('serial_number'));
        $('#id_machine_name').val(localStorage.getItem('name'));
        $('#id_machine_weight').val(localStorage.getItem('weight'));
        $('#id_electric_power').val(localStorage.getItem('power'));
        $('#id_image').val(localStorage.getItem('image'));
        $('#id_customer').val(localStorage.getItem('customer'));
        $('#id_machine_type').val(localStorage.getItem('type'));
    });

    var serial_number = 0;
    var machine_name = 0;
    var machine_type = 0;
    var machine_weight = 0;
    var electric_power = 0;
    var image = 0;
    var auto_generate = 0;
    var code_type = 0;
    var code = 0;
    var rack = 0;

    var id_out_rack = [];
    var in_rack = '';
    var out_rack = '';
    var rack_dropdown = '<select name="rack" id="id_rack" class="form-control my-0 py-1 lime-border">';
    "{% for x in rack %}"
    if (String("{{x.rack}}") == "Out of Rack") {
        out_rack += '<option value="{{x.id}}" id="rack{{x.id}}" class="out_rack" style="display:none;">{{x.rack}}</option>';
        id_out_rack.push(String("{{x.id}}"));
    } else
        in_rack += '<option value="{{x.id}}" id="rack{{x.id}}" style="display:none;">{{x.rack}}</option>';
    "{% endfor %}"
    rack_dropdown += (out_rack + in_rack);
    rack_dropdown += '</select>';
    $('input[id="id_rack"]').replaceWith(rack_dropdown);

    $('#id_auto_generate2').prop("checked", true);
    $('#id_code_type').attr('disabled', true);
    $('#id_code').attr('disabled', true);

    /////////////////////////
    // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
    $('#btn-add').click(function() {
        validateCode();
        validateType();
        validateGen();
        validateCustomer();
        validateType();
        validatePower();
        validateWeight();
        validateName();
        validateSerial();
        var lo = 0;
        if ($('#id_location').val() == "") {
            $("#id_location").css("border", "2px solid rgb(255, 0, 0)");
            $("#location_error").html("โปรดเลือก Location");
            $("#location_error").show();
            lo = 0;
        } else {
            $("#id_location").css("border", "2px solid dodgerblue");
            $("#location_error").hide();
            lo = 1;
        }
        if (serial_number == 1 && machine_name == 1 && machine_type == 1 && machine_weight == 1 &&
            electric_power == 1 && lo == 1 &&
            ((auto_generate == 1 && code_type == 0 && code == 0) || (auto_generate == 0 && code_type == 1 && code == 1)))
            return true;
        else
            return false;
    });
    /////////////////////////


    // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
    function checkedUnit() {
        if (rack == 1) {
            $('ul[id="id_unit_number"]').hide();
            "{% for rack_equipment in rack_equipment %}"
            if ("{{rack_equipment.rack.id}}" == $('#id_rack').val()) {
                if ($('#id_front_back').val() == "Front Back") {
                    $('#{{rack_equipment.unit_number}}').prop("checked", true);
                    $('#{{rack_equipment.unit_number}}').prop("disabled", true);
                } else {
                    if ("{{rack_equipment.front_back}}" == $('#id_front_back').val()) {
                        $('#{{rack_equipment.unit_number}}').prop("checked", true);
                        $('#{{rack_equipment.unit_number}}').prop("disabled", true);
                    }
                }
            }
            "{% endfor %}"
            $('ul[id="id_unit_number"]').show();
        } else
            $('ul[id="id_unit_number"]').hide();
    }
    $('#id_front_back').change(function() {
        localStorage.setItem('front_back', $(this).val());
        $('input[type="checkbox"]').prop("checked", false);
        $('input[type="checkbox"]').prop("disabled", false);
        checkedUnit();
    });
    $('#id_rack').click(function() {
        var rack_id = $(this).val();
        var machine = $('#id_equipment').val();
        var weight = 0.00;
        var rack_weight = 0.00;
        var rack_size = 0;
        var acceptable_weight = 0.00;
        var equipment = -1;
        "{% for rack in rack %}"
        if (rack_id == "{{rack.id}}") {
            localStorage.setItem('rack', $(this).val());
            localStorage.setItem('front_back', $('#id_front_back').val());
            weight = parseFloat("{{ equipment.machine_weight }}");
            rack_weight = parseFloat("{{rack.rack_weight}}");
            acceptable_weight = parseFloat("{{rack.acceptable_weight}}");
            rack_size = "{{rack.rack_size}}";
            if (parseInt(rack_size) > 0) {
                $('#id_front_back').prop("disabled", false);
                rack = 1;
            } else {
                $('#id_front_back').prop("disabled", true);
                rack = 0;
            }
            weight += rack_weight;
            "{% for rackequipment in rack_equipment %}"
            if (rack_id == "{{ rackequipment.rack.id }}") {
                if (equipment != "{{ rackequipment.equipment.id }}") {
                    weight += parseFloat("{{ rackequipment.equipment.machine_weight }}");
                    equipment = "{{ rackequipment.equipment.id }}";
                }
            }
            "{% endfor %}"

            var unit_list = '<ul id="id_unit_number" class="ks-cboxtags">';
            for (var i = 1; i <= parseInt(rack_size); i++) {
                if (i < 10)
                    unit_list += '<li><input type="checkbox" id="' + i + '" name="unit_number"  value="' + i + '" value="Rainbow Dash"><label for="' + i + '">U0' + i + '</label></li>';
                else
                    unit_list += '<li><input type="checkbox" id="' + i + '" name="unit_number"  value="' + i + '" value="Rainbow Dash"><label for="' + i + '">U' + i + '</label></li>';
            }
            $('ul[id="id_unit_number"]').replaceWith(unit_list);

            $("#id_rack").css("border", "2px solid dodgerblue");
            $("#rack_error").html("น้ำหนักรวม Equipment ที่ต้องการเพิ่ม " + String(weight) + "/" + String(acceptable_weight));
            if (weight <= acceptable_weight) {
                $("#rack_error").css("color", "green");
            } else {
                $("#rack_error").css("color", "rgb(255, 0, 0)");
            }

        }
        "{% endfor %}"
        checkedUnit();
        $("#rack_error").show();
    });

    $('#id_location').change(function() {
        validateLocation();
    });

    function validateLocation() {
        if ($('#id_location').val() != "") {
            $("#id_location").css("border", "2px solid dodgerblue");
            $("#location_error").hide();
            $('#id_rack').prop("disabled", false);
            $('#rack_null').css("display", "none");
            var id_out_rack;
            "{% for x in rack %}"
            if (String("{{x.location.id}}") == String($('#id_location').val())) {
                $('#rack{{x.id}}').css("display", "block");
                if (String("{{x.rack}}") == "Out of Rack")
                    id_out_rack = "{{x.id}}";
            } else
                $('#rack{{x.id}}').css("display", "none");
            "{% endfor %}"
            $('#id_rack').val(id_out_rack);
            rack = 0;
        } else {
            $("#id_location").css("border", "2px solid rgb(255, 0, 0)");
            $("#location_error").html("โปรดเลือก Location");
            $("#location_error").show();
            rack = 0;
            $('#id_rack').prop("disabled", true);
        }
        checkedUnit();
    }

    $('#id_code').keyup(function() {
        validateCode();
    });

    function validateCode() {
        if ($("#id_code").val() == "") {
            $('#id_code').css("border", "2px solid rgb(252, 0, 0)");
            $("#code_error").html("โปรดกรอกข้อมูล");
            $("#code_error").show();
            code = 0;
        } else {
            $('#id_code').css("border", "2px solid dodgerblue");
            $("#code_error").hide();
            code = 1;
        }
    }

    $('#id_code_type').click(function() {
        validateType();
    });

    function validateType() {
        if ($("#id_code_type").val() == "") {
            $('#id_code_type').css("border", "2px solid rgb(252, 0, 0)");
            $("#code_type_error").html("โปรดเลือกข้อมูล");
            $("#code_type_error").show();
            code_type = 0;
        } else {
            $('#id_code_type').css("border", "2px solid dodgerblue");
            $("#code_type_error").hide();
            code_type = 1;
        }
    }

    $('#id_auto_generate2').click(function() {
        validateGen();
    });

    function validateGen() {
        $('#id_auto_generate2').css("border", "2px solid dodgerblue");
        if ($('#id_auto_generate2').is(':checked')) {
            $('#id_code_type').attr('disabled', true);
            $('#id_code').attr('disabled', true);
            $('#id_code_type').css("border", "1px solid #ced4da");
            $("#code_type_error").hide();
            $('#id_code').css("border", "1px solid #ced4da");
            $("#code_error").hide();
            $('#id_code_type').val("");
            $('#id_code').val("");
            auto_generate = 1;
        } else {
            $('#id_code_type').attr('disabled', false);
            $('#id_code').attr('disabled', false);
            auto_generate = 0;
        }
    }

    $('#id_customer').click(function() {
        validateCustomer();
    });

    function validateCustomer() {
        $('#id_customer').css("border", "2px solid dodgerblue");
        localStorage.setItem('customer', $('#id_customer').val());

    }

    $('#id_machine_type').click(function() {
        validateType();
    });

    function validateType() {
        if ($("#id_machine_type").val() == "") {
            $('#id_machine_type').css("border", "2px solid rgb(252, 0, 0)");
            $("#machine_type_error").html("โปรดเลือกข้อมูล");
            $("#machine_type_error").show();
            machine_type = 0;
        } else {
            $('#id_machine_type').css("border", "2px solid dodgerblue");
            $("#machine_type_error").hide();
            localStorage.setItem('type', $('#id_machine_type').val());
            machine_type = 1;
        }
    }

    $('#id_electric_power').keyup(function() {
        validatePower();
    });

    function validatePower() {
        if ($("#id_electric_power").val() == "") {
            $('#id_electric_power').css("border", "2px solid rgb(252, 0, 0)");
            $("#electric_power_error").html("โปรดกรอกข้อมูล");
            $("#electric_power_error").show();
            electric_power = 0;
        } else {
            $('#id_electric_power').css("border", "2px solid dodgerblue");
            $("#electric_power_error").hide();
            localStorage.setItem('power', $('#id_electric_power').val());
            electric_power = 1;
        }
    }

    $('#id_machine_weight').keyup(function() {
        validateWeight();
    });

    function validateWeight() {
        if ($("#id_machine_weight").val() == "") {
            $('#id_machine_weight').css("border", "2px solid rgb(252, 0, 0)");
            $("#machine_weight_error").html("โปรดกรอกข้อมูล");
            $("#machine_weight_error").show();
            machine_weight = 0;
        } else {
            $('#id_machine_weight').css("border", "2px solid dodgerblue");
            $("#machine_weight_error").hide();
            localStorage.setItem('weight', $('#id_machine_weight').val());
            machine_weight = 1;
        }
    }
    $('#id_machine_name').keyup(function() {
        validateName();
    });

    function validateName() {
        if ($("#id_machine_name").val() == "") {
            $('#id_machine_name').css("border", "2px solid rgb(252, 0, 0)");
            $("#machine_name_error").html("โปรดกรอกข้อมูล");
            $("#machine_name_error").show();
            machine_name = 0;
        } else {
            $('#id_machine_name').css("border", "2px solid dodgerblue");
            $("#machine_name_error").hide();
            localStorage.setItem('name', $('#id_machine_name').val());
            machine_name = 1;
        }
    }

    $('#id_serial_number').keyup(function() {
        validateSerial();
    });

    function validateSerial() {
        if ($("#id_serial_number").val() == "") {
            $('#id_serial_number').css("border", "2px solid rgb(252, 0, 0)");
            $("#serial_number_error").html("โปรดกรอกข้อมูล");
            $("#serial_number_error").show();
            serial_number = 0;
        } else {
            $('#id_serial_number').css("border", "2px solid dodgerblue");
            $("#serial_number_error").hide();
            localStorage.setItem('serial_number', $('#id_serial_number').val());
            serial_number = 1;
        }
    }
</script>

<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'equipment-listview' %}"> {% endif %} {% endblock %}