{% load static %} {% if user.is_superuser %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/error-list.css' %}">

<style>
    .type_machine_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>


<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}
<div class="container">
    <h2 style="padding-top: 50px; padding-bottom: 20px; text-align: center;">Add Equipment Type</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="{% static 'js/error-list.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    $('#id_type_machine').addClass('type_machine form-control my-0 py-1 lime-border');
    $('.type_machine').after('<label><p id="type_machine_error" class="type_machine_error"></p></label>');
    $('label[for="id_type_machine"]').replaceWith('<label>Type</label>');
    $('.errorlist').addClass("alert alert-danger");
</script>
<script type="text/javascript">
    var type = 0;
    $(function() {

        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function myFunction() {
            if (validateType()) {
                $('#id_type_machine').css("border", "2px solid rgb(252, 0, 0)");
                $("#type_machine_error").html("ต้องมีตัวอักษรอย่างน้อย 1 ตัว");
                $("#type_machine_error").show();
                type = 0;
            } else {
                $('#id_type_machine').css("border", "2px solid dodgerblue");
                $("#type_machine_error").hide();
                type = 1;
            }
            if (type == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_type_machine').keyup(function() {
            if (validateType()) {
                $('#id_type_machine').css("border", "2px solid rgb(252, 0, 0)");
                $("#type_machine_error").html("ต้องมีตัวอักษรอย่างน้อย 1 ตัว");
                $("#type_machine_error").show();
                type = 0;
            } else {
                $('#id_type_machine').css("border", "2px solid dodgerblue");
                $("#type_machine_error").hide();
                type = 1;
            }
        });

        function validateType() {
            var type = $("#id_type_machine").val();
            if (type == "") {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

<script type="text/javascript">
    // คำสัง reload page ก่อนหน้าหลังปิดหน้านี้
    function RefreshParent() {
        if (window.opener != null && !window.opener.closed) {
            window.opener.location.reload();
        }
    }
    window.onbeforeunload = RefreshParent;
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'equipment-listview' %}"> {% endif %}