{% extends 'base.html' %} {% load static %} {% block content %}
<div style="display: none;">
    {% block title %}{{rackequipment.equipment}}{% endblock %}
    <input class="menu" value="equipment" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}
<div align="center">
    <h2>{{rackequipment.equipment}}</h2>
</div>

<!-- table สำหรับวางตำแหน่งส่วนต่าง -->
<table style="width:80%" align="center">
    <tr>
        <!-- แสดงรูป -->
        <td style="width: 50%;" align="center">
            <div style="width: 50%; height: 50%; vertical-align: middle;">
                {% if rackequipment.equipment.image.url == '/media/___/___/' %}
                <img src="{% static 'images/equipment_image.png' %}" alt="" style="max-width: 100%;" class="zoom" data-zoom-image="{{rackequipment.equipment.image.url}}"> {% else %}
                <img src="{{rackequipment.equipment.image.url}}" alt="" style="max-width: 100%;" class="zoom" data-zoom-image="{{rackequipment.equipment.image.url}}"> {% endif %}
            </div>
        </td>
        <!-- แสดงข้อมูล equipment  -->
        <td style="width: 50%;">
            <div class="table table-striped table-hover">
                <table style="width: 75%;" align="center">
                    <tr>
                        <th>Serial Number</th>
                        <td>{{rackequipment.equipment}}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{rackequipment.equipment.machine_name}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{rackequipment.equipment.machine_type}}</td>
                    </tr>
                    <tr>
                        <th>Weight(Kg)</th>
                        <td>{{rackequipment.equipment.machine_weight}} Kg</td>
                    </tr>
                    <tr>
                        <th>Power(WATT)</th>
                        <td>{{rackequipment.equipment.electric_power}} WATT</td>
                    </tr>
                    <tr>
                        <th>IP Address</th>
                        <td><a href="{% url 'equipment-ip-address' rackequipment.equipment.id %}">{{ipaddress}}</a></td>
                    </tr>
                    <tr>
                        <th>User</th>
                        <td data-toggle="modal" data-target="#user{{ rackequipment.equipment.user.id }}" class='open-model-view'>{{rackequipment.equipment.user}}</td>
                    </tr>
                    <tr>
                        <th>Customer</th>
                        {% if rackequipment.equipment.customer == None %}
                        <td data-toggle="modal" data-target="#customer{{ rackequipment.equipment.customer.id }}">-</td>
                        {% else %}
                        <td data-toggle="modal" data-target="#customer{{ rackequipment.equipment.customer.id }}" class='open-model-view'>{{rackequipment.equipment.customer}}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Rack</th>
                        {% if rackequipment.rack.id == None %}
                        <td>-</td>
                        {% else %}
                        <td><a href="{% url 'report-rack' rackequipment.rack.id %}">{{rackequipment.rack}}({{rackequipment.rack.location}})</a></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>F/B</th>
                        <td>{{rackequipment.front_back}}</td>
                    </tr>
                    <tr>
                        <th>Unit</th>
                        <td>{{unit}}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>
                            <div id="qrcode"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    {% if user.is_superuser %}
    <tr align="center" style="font-size: 200px;">
        <td>
            <!-- ปุ่ม edit ข้อมูล equipment  -->
            <div style="width: 80%" style="padding: 10px">
                <a href="{% url 'update-equipment' rackequipment.equipment.id %}" class="btn btn-outline-success btn-block">Update</a>
            </div>
        </td>
        <td>
            <!-- ปุ่ม move rack สำหรับย้าย rack หรือเปลี่ยน unit  -->
            <div style="width: 80%">
                <a href="{% url 'move-rack' rackequipment.equipment.id %}" class="btn btn-outline-success btn-block">Move Rack</a>
            </div>
        </td>
    </tr>
    <tr align="center" style="font-size: 200px;">
        <td colspan="2">
            <!-- ปุ่ม ลบ equipment  -->
            <div style="width: 80%">
                <a onclick="return DeleteEquipment();" href="{% url 'delete-equipment' rackequipment.equipment.id %}" class="btn btn-outline-danger btn-block">Delete</a>
            </div>
        </td>
    </tr>
    {% endif %}
</table>

{% include 'customer/model-customer.html' %} {% include 'model_user.html' %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
<script type="text/javascript">
    // ซูมรูปภาพ
    $('.zoom').elevateZoom();
</script>
<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    // แสดงปุ่ม confirm ก่อนลบ equipment
    function DeleteEquipment() {
        var r = confirm("คุณต้องการลบ {{rackequipment.equipment}}");
        if (r == true)
            return true;
        else
            return false;
    }
</script>

<!-- สร้าง qr code   -->
<script src="{% static 'js/qrcode.js' %}"></script>
<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width: 100,
        height: 100
    });
    var data = "";
    if ("{{rackequipment.equipment.auto_generate}}" == "False")
        data = "{{rackequipment.equipment.code}}";
    else {
        data += String("{{rackequipment.equipment.serial_number}}");
        data += "|" + String("{{rackequipment.equipment.machine_name}}");
        data += "|" + String("{{rackequipment.equipment.machine_type}}");
        data += "|" + String("{{rackequipment.equipment.machine_weight}}");
        data += "|" + String("{{rackequipment.equipment.electric_power}}");
    }
    qrcode.makeCode(data);
</script>
{% endblock %}