{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<div style="display: none;">
    {% block title %}Rack Listview{% endblock %}
    <input class="menu" value="rack" readonly>
</div>


<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}


<div class="container  table-responsive listview">
    <h2>{{equipment}}</h2>
    <!-- table แสดง ip address  -->
    <table id="myTable" class="table table-hover table-view">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Customer</th>
                <th>Create at</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
    </table>
</div>

{% include 'customer/model-customer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    var body = "";
    // ลิส ip address
    "{% for ip_address in ip_address reversed %}"
    body += "<tr>";
    body += "<td style='vertical-align : middle;'><a href='" + "{% url 'ip-detail' ip_address.ip_network.id %}" + "'>{{ip_address.ip_address}}</a></td>";
    "{% if ip_address.customer == None %}"
    body += '<td data-toggle="modal" data-target="#customer{{ ip_address.customer.id }}"></td>';
    "{% else %}"
    body += '<td data-toggle="modal" data-target="#customer{{ ip_address.customer.id }}"><a href="#">{{ip_address.customer}}</a></td>';
    "{% endif %}"
    body += "<td style='vertical-align : middle;'>{{ip_address.create_at}}</td>";
    body += "</tr>"
    "{% empty %}"
    body += "<tr><td colspan='3' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
    "{% endfor %}"

    $('#myBody').append(body);
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'equipment-listview' %}"> {% endif %} {% endblock %}