{% extends 'base.html' %} {% load static %} {% block content %}


<div style="display: none;">
    {% block title %}Equipment Listview{% endblock %}
    <input class="menu" value="equipment" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}
<div class="container listview table-responsive">
    <h2>Equipment View</h2>
    {% if user.is_superuser %}
    <!-- export table equipment  -->
    <a href="#export to excel" id="export" style="float: right;" class="btn btn-outline-secondary">Export to Excel</a>

    <!-- ลิ้งค์ไปหน้า add equipment -->
    <a href="{% url 'add-equipment' %}" class="btn btn-outline-success add">Add Equipment</a> {% endif %}

    <div class="row" style="margin-top: 5%;">
        <div class="col-md" style="padding: 0">
            <!-- div สำหรับวาง dropdown ที่ใช้ค้นหา -->
            <div id="id_div" style="float: left"></div>
        </div>
        <div class="col-md" style="padding: 0">
            <!-- ช่องกรอกข้อมูลสำหรับค้นหา -->
            <div class="input-group md-form form-sm form-2 pl-0 search" style="float: right;">
                <input class="form-control my-0 py-1 lime-border mySearch" id="mySearch" type="search" placeholder="Search" aria-label="Search" style="max-width: 50%; margin-left: 50%;">
                <div class="input-group-append">
                    <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>

    <!-- table แสดงรายชื่อ equipment  -->
    <table id="myTable" class="table table-hover table-view myTable">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Name</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Rack</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
    </table>
</div>

<div id="table_export"></div>

{% include 'customer/model-customer.html' %} {% include 'model_user.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script type="text/javascript">
    // สร้าง dropdown location 
    var select = '<select class="form-control select-rack" id="id_select_location" name="select_location" style="width:50%;">';
    select += '<option value="all">All Location</option>';
    "{% for location in location %}"
    select += '<option value="{{location.id}}">{{location.location}}</option>';
    "{% endfor %}"
    select += '</select>';
    $('#id_div').append(select);

    // จัดเรียง dropdown location 
    var list, i, switching, b, shouldSwitch;
    list = document.getElementById("id_select_location");
    switching = true;
    while (switching) {
        switching = false;
        b = list.getElementsByTagName("option");
        for (i = 0; i < (b.length - 1); i++) {
            shouldSwitch = false;
            if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            b[i].parentNode.insertBefore(b[i + 1], b[i]);
            switching = true;
        }
    }

    // สร้าง dropdown rack 
    var in_rack = '';
    var out_rack = '';
    var i = 2;
    var select = '<select class="form-control select-rack" id="id_select_rack" name="select_rack" style="width:50%;">';
    select += '<option value="all">All Rack</option>';
    "{% for rack in rack %}"
    if ("{{rack.rack}}" == "Out of Rack") {
        out_rack += '<option value="{{rack.id}}" id="rack{{rack.id}}" value="' + i + '" style="display:none;">{{rack.rack}}</option>';
        i++;
    } else
        in_rack += '<option value="{{rack.id}}" id="rack{{rack.id}}" style="display:none;">{{rack.rack}}</option>';
    "{% endfor %}"
    select += (out_rack + in_rack);
    select += '</select>';
    $('#id_div').append(select);
</script>

<script>
    $(document).ready(function() {
        showAll();
    });

    $('#id_select_rack').change(function() {
        showSelect();
    });
    $('#id_select_location').change(function() {
        // ลิสรายชื่อ equipment ตาม location 
        if (String($(this).val()) == "all") {
            "{% for rack in rack %}"
            $('#rack{{rack.id}}').css("display", "none")
            "{% endfor %}"
            $('#id_select_rack').val("all");
            showAll();
        } else {
            $('#id_select_rack').val("all");
            var out = 0;
            var j = 0;
            "{% for rack in rack %}"
            if (String($(this).val()) == String("{{rack.location.id}}")) {
                // alert($('#rack{{rack.id}}').text());
                if (j == 0) {
                    out = $('#rack{{rack.id}}').val();
                    j++;
                }
                $('#rack{{rack.id}}').css("display", "block");
            } else
                $('#rack{{rack.id}}').css("display", "none")
            "{% endfor %}"

            // จัดเรียงตามชื่อ equipment
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById("id_select_rack");
            switching = true;
            while (switching) {
                switching = false;
                b = list.getElementsByTagName("option");
                for (i = out; i < (b.length - 1); i++) {
                    shouldSwitch = false;
                    if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    b[i].parentNode.insertBefore(b[i + 1], b[i]);
                    switching = true;
                }
            }
            showSelect();
        }
    });

    function showSelect() {
        // ลิสรายชื่อ equipment ตามทั้งหมดใน location 
        if (String($('#id_select_rack').val()) == "all") {
            var body = "";
            var equipment = -1;
            var data = 0;
            body += "<tbody id='myBody'>";
            "{% for rackequipment in rackequipment reversed %}"
            if ("{{rackequipment.equipment.id}}" != equipment && "{{rackequipment.rack.location.id}}" == $('#id_select_location').val()) {
                body += "<tr position='{{rackequipment.rack}}'>";
                body += "<td style='vertical-align : middle;'>{{rackequipment.equipment}}</td>";
                body += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_name}}</td>";
                if ("{{ rackequipment.equipment.customer }}" == "None")
                    body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'>-</td>";
                else
                    body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'class='open-model-view'>{{rackequipment.equipment.customer}}</td>";
                body += "<td style='vertical-align : middle;'><a href='{% url 'rack-listview' rackequipment.rack.location.id %}'>{{rackequipment.rack.location}}</a></td>";
                body += "<td style='vertical-align : middle;'><a href='{% url 'report-rack' rackequipment.rack.id %}'>{{rackequipment.rack}}</a></td>";
                body += "<td style='vertical-align : middle;'><div class='image' style='height: 50px; width: 50px;'>";
                if (String("{{rackequipment.equipment.image.url}}") == "/media/___/___/")
                    body += "<img src='{% static 'images/equipment_image.png' %}' alt='Equipment' style='max-width: 100%; max-height: 100%;'>";
                else
                    body += "<img src='{{rackequipment.equipment.image.url}}' alt='Equipment' style='max-width: 100%; max-height: 100%;'>";
                body += "</div></td>";
                body += "<td style='vertical-align : middle;'><a href='{% url 'equipment-detail' rackequipment.equipment.id %}' class='btn btn-outline-primary' role='button'>Detail</a></td>";
                body += "</tr>";
                equipment = "{{rackequipment.equipment.id}}";
                data = 1;
            }
            "{% endfor %}"
            body += '</tbody>';
            if (data == 0) {
                body += "<tr><td colspan='6' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
                data = 1;
            }
            $('#myBody').replaceWith(body);

            // จัดเรียงตามชื่อ equipment
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("myTable");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (var i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[0];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        } else {
            // ลิสรายชื่อ equipment ตาม rack 
            var body = "";
            var equipment = -1;
            var data = 0;
            body += "<tbody id='myBody'>";
            "{% for rackequipment in rackequipment reversed %}"
            if ("{{rackequipment.equipment.id}}" != equipment && "{{rackequipment.rack.id}}" == $('#id_select_rack').val()) {
                body += "<tr position='{{rackequipment.rack}}'>";
                body += "<td style='vertical-align : middle;'>{{rackequipment.equipment}}</td>";
                body += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_name}}</td>";
                // body += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_type}}</td>";
                // body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#user{{ rackequipment.equipment.user.id }}'><a href='#'>{{rackequipment.equipment.user}}</a></td>";
                if ("{{ rackequipment.equipment.customer }}" == "None")
                    body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'>-</td>";
                else

                    body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'class='open-model-view'>{{rackequipment.equipment.customer}}</td>";
                body += "<td style='vertical-align : middle;'><a href='{% url 'rack-listview' rackequipment.rack.location.id %}'>{{rackequipment.rack.location}}</a></td>";
                body += "<td style='vertical-align : middle;'><a href='{% url 'report-rack' rackequipment.rack.id %}'>{{rackequipment.rack}}</a></td>";
                body += "<td style='vertical-align : middle;'><div class='image' style='height: 50px; width: 50px;'>";
                if (String("{{rackequipment.equipment.image.url}}") == "/media/___/___/")
                    body += "<img src='{% static 'images/equipment_image.png' %}' alt='Equipment' style='max-width: 100%; max-height: 100%;'>";
                else
                    body += "<img src='{{rackequipment.equipment.image.url}}' alt='Equipment' style='max-width: 100%; max-height: 100%;'>";
                body += "</div></td>";
                body += "<td style='vertical-align : middle;'><a href='{% url 'equipment-detail' rackequipment.equipment.id %}' class='btn btn-outline-primary' role='button'>Detail</a></td>";
                body += "</tr>";
                equipment = "{{rackequipment.equipment.id}}";
                data = 1;
            }
            "{% endfor %}"
            if (data == 0) {
                body += "<tr><td colspan='6' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
                data = 1;
            }
            body += '</tbody>';
            $('#myBody').replaceWith(body);

            // จัดเรียงตามชื่อ equipment
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("myTable");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (var i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[0];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    }

    function showAll() {
        // ลิสรายชื่อ equipment ทั้งหมด
        var body = "";
        var equipment = -1;
        var data = 0;
        body += "<tbody id='myBody'>";
        "{% for rackequipment in rackequipment reversed %}"
        if ("{{rackequipment.equipment.id}}" != equipment) {
            body += "<tr position='{{rackequipment.rack}}'>";
            body += "<td style='vertical-align : middle;'>{{rackequipment.equipment}}</td>";
            body += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_name}}</td>";
            if ("{{ rackequipment.equipment.customer }}" == "None")
                body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'>-</td>";
            else

                body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'class='open-model-view'>{{rackequipment.equipment.customer}}</td>";
            body += "<td style='vertical-align : middle;'><a href='{% url 'rack-listview' rackequipment.rack.location.id %}'>{{rackequipment.rack.location}}</a></td>";
            body += "<td style='vertical-align : middle;'><a href='{% url 'report-rack' rackequipment.rack.id %}'>{{rackequipment.rack}}</a></td>";
            body += "<td style='vertical-align : middle;'><div class='image' style='height: 50px; width: 50px;'>";
            if (String("{{rackequipment.equipment.image.url}}") == "/media/___/___/")
                body += "<img src='{% static 'images/equipment_image.png' %}' alt='Equipment' style='max-width: 100%; max-height: 100%;'>";
            else
                body += "<img src='{{rackequipment.equipment.image.url}}' alt='Equipment' style='max-width: 100%; max-height: 100%;'>";
            body += "</div></td>";
            body += "<td style='vertical-align : middle;'><a href='{% url 'equipment-detail' rackequipment.equipment.id %}' class='btn btn-outline-primary' role='button'>Detail</a></td>";
            body += "</tr>";
            equipment = "{{rackequipment.equipment.id}}";
            data = 1;
        }
        "{% endfor %}"
        if (data == 0) {
            body += "<tr><td colspan='6' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
            data = 1;
        }
        body += '</tbody>';
        $('#myBody').replaceWith(body);

        // จัดเรียงตามชื่อ equipment
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (var i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>

<script>
    // สร้าง table สำหรับ export 
    $('#export').click(function() {
        var table = '<table style="display:none;" id="table_export">';
        table += '<tr>';
        table += '<th>Serial Number</th>';
        table += '<th>Name</th>';
        table += '<th>Type</th>';
        table += '<th>Weight(Kg)</th>';
        table += '<th>Power(W)</th>';
        table += '<th>User</th>';
        table += '<th>Customer</th>';
        table += '<th>Rack</th>';
        table += '<th>F/B</th>';
        table += '<th>Unit</th>';
        table += '</tr>';

        var equipment = 0;
        "{% for rackequipment in rackequipment reversed %}"
        if ("{{rackequipment.equipment.id}}" != equipment) {
            table += "<tr>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.equipment}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_name}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_type}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.equipment.machine_weight}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.equipment.electric_power}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.equipment.user}}</td>";
            if ("{{ rackequipment.equipment.customer }}" == "None")
                table += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'>-</td>";
            else
                table += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ rackequipment.equipment.customer.id }}' + "'>{{rackequipment.equipment.customer}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.rack}}</td>";
            table += "<td style='vertical-align : middle;'>{{rackequipment.front_back}}</td>";
            var unit = [];
            "{% for rackequipment2 in rackequipment2 %}"
            if ("{{rackequipment2.rack.id}}" == "{{rackequipment.rack.id}}" && "{{rackequipment2.equipment.id}}" == "{{rackequipment.equipment.id}}")
                unit.push("{{rackequipment2.unit_number}}");
            "{% endfor %}"
            table += "<td style='vertical-align : middle;'>" + String(unit) + "</td>";
            table += "</tr>";
            equipment = "{{rackequipment.equipment.id}}";
        }
        "{% endfor %}"

        $('#table_export').replaceWith(table);
        $("#table_export").table2excel({
            filename: "table_equipment.xls"
        });
        var table_export = '<div id="table_export"></div>';
        $('#table_export').replaceWith(table);
    });
</script>

{% endblock %}