{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<link rel="stylesheet" href="{% static 'css/unit.css' %}">

<style>
    .equipment_error,
    .unit_range_error,
    .location_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
    
    .rack_error {
        font-size: 12px;
    }
</style>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div style="display: none;">
    {% block title %}Move Rack{% endblock %}
    <input class="menu" value="equipment" readonly>
</div>


<div class="container">
    <h2 style="text-align: center">Move Rack</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" id="myForm">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" id="btn-add" class="btn btn-outline-success btn-block">
    </form>
</div>


<script id="id_script"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Equipment", "Rack", "Front/Back", "Unit Range", "Location"]
    setInput_text = ["equipment", "rack", "front_back", "unit_range", "location"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label style="width:100%;">' + setLabel_input[i] + '</label>');
        i++
    }

    var equipment = '<select name="equipment" id="id_equipment" class="form-control my-0 py-1 lime-border">';
    equipment += '<option value="{{equipment.id}}">{{equipment.serial_number}}</option>';
    select_location += '</select>';
    $('select[id="id_equipment"]').replaceWith(equipment);

    var select_location = '<select name="select_location" id="id_select_location" class="form-control my-0 py-1 lime-border">';
    select_location += '<option value="0">Keep in the rack</option>';
    select_location += '<option value="1">Keep somewhere else</option>';
    select_location += '</select>';
    $('input[id="id_select_location"]').replaceWith(select_location);

    var f_b = '<select name="front_back" id="id_front_back" class="form-control my-0 py-1 lime-border">';
    f_b += '<option value="Front">Front</option>';
    f_b += '<option value="Back">Back</option>';
    f_b += '<option value="Front Back">ALL</option>';
    f_b += '</select>';
    $('input[id="id_front_back"]').replaceWith(f_b);

    var setLocation = '<select name="location" id="id_location" class="form-control my-0 py-1 lime-border">';
    setLocation += '<option value="null">---------</option>';
    "{% for x in location %}"
    setLocation += '<option value="{{x.id}}">{{x.location}} {{x.address}}</option>';
    "{% endfor %}"
    setLocation += '</select>';
    $('input[id="id_location"]').replaceWith(setLocation);

    $('#id_location').val("{{rack_equipment_get.rack.location.id}}");
    $('#id_front_back').val("{{rack_equipment_get.front_back}}");
    // $('#').val();
</script>
<script>
    var rack = 1;

    var id_out_rack = [];
    var in_rack = '';
    var out_rack = '';
    // แก้ไขฟอร์ม rack 
    var rack_form = '<select name="rack" id="id_rack" class="form-control my-0 py-1 lime-border">';
    "{% for x in rack %}"
    if (String("{{x.rack}}") == "Out of Rack") {
        out_rack += '<option value="{{x.id}}" id="rack{{x.id}}" style="display:none;">{{x.rack}}</option>';
        id_out_rack.push(String("{{x.id}}"));
    } else
        in_rack += '<option value="{{x.id}}" id="rack{{x.id}}" style="display:none;">{{x.rack}}</option>';
    "{% endfor %}"
    rack_form += (out_rack + in_rack);
    rack_form += '</select>';
    $('select[id="id_rack"]').replaceWith(rack_form);
    $('#id_rack').val("{{rack_equipment_get.rack.id}}");

    "{% for x in rack %}"
    if (String("{{x.location.id}}") == String($('#id_location').val()))
        $('#rack{{x.id}}').css("display", "block");
    else
        $('#rack{{x.id}}').css("display", "none");

    if (String("{{x.id}}") == String($('#id_rack').val())) {
        var unit_list = '<ul id="id_unit_number" class="ks-cboxtags">';
        for (var i = 1; i <= parseInt("{{x.rack_size}}"); i++) {
            if (i < 10)
                unit_list += '<li><input type="checkbox" id="' + i + '" name="unit_number"  value="' + i + '" value="Rainbow Dash"><label for="' + i + '">U0' + i + '</label></li>';
            else
                unit_list += '<li><input type="checkbox" id="' + i + '" name="unit_number"  value="' + i + '" value="Rainbow Dash"><label for="' + i + '">U' + i + '</label></li>';
        }
        $('ul[id="id_unit_number"]').replaceWith(unit_list);
    }
    "{% endfor %}"
    checkedUnit();


    // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
    $('#btn-add').click(function() {
        var success = 0
        if ($('#id_location').val() == "null") {
            $("#id_location").css("border", "2px solid rgb(255, 0, 0)");
            $("#location_error").html("โปรดเลือก Location");
            $("#location_error").css("color", "rgb(255, 0, 0)");
            success = 0;
        } else
            success = 1;
        if (success == 1)
            return true;
        else
            return false;
    });

    // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
    $('#id_location').click(function() {
        validateLocation();
        rack = 0;
        checkedUnit();
    });

    function validateLocation() {
        if ($('#id_location').val() != "null") {
            $("#id_location").css("border", "2px solid dodgerblue");
            $("#location_error").hide();
            $('#id_rack').prop("disabled", false);
            $('#rack_null').css("display", "none");
            var id_out_rack;
            // โชว์ rack ตาม location 
            "{% for x in rack %}"
            if (String("{{x.location.id}}") == String($('#id_location').val())) {
                $('#rack{{x.id}}').css("display", "block");
                if (String("{{x.rack}}") == "Out of Rack")
                    id_out_rack = "{{x.id}}";
            } else
                $('#rack{{x.id}}').css("display", "none");
            "{% endfor %}"
            $('#id_rack').val(id_out_rack);
        } else {
            $("#id_location").css("border", "2px solid rgb(255, 0, 0)");
            $("#location_error").html("โปรดเลือก Location");
            $("#location_error").show();
            $('#id_rack').prop("disabled", true);
        }
    }


    $('#id_rack').click(function() {
        var rack_id = $(this).val();
        var machine = $('#id_equipment').val();
        var weight = 0.00;
        var rack_weight = 0.00;
        var rack_size = 0;
        var acceptable_weight = 0.00;
        var equipment = -1;
        // ตรวจสอบข้อมูล rack และแสดงน้ำหนัก และ unit ตาม size rack 
        "{% for rack in rack %}"
        if (rack_id == "{{rack.id}}") {
            weight = parseFloat("{{ equipment.machine_weight }}");
            rack_weight = parseFloat("{{rack.rack_weight}}");
            acceptable_weight = parseFloat("{{rack.acceptable_weight}}");
            rack_size = "{{rack.rack_size}}";
            if (parseInt(rack_size) > 0) {
                $('#id_front_back').prop("disabled", false);
                rack = 1;
            } else {
                $('#id_front_back').prop("disabled", true);
                rack = 0;
            }
            weight += rack_weight;
            "{% for rackequipment in rack_equipment %}"
            if (rack_id == "{{ rackequipment.rack.id }}") {
                if (equipment != "{{ rackequipment.equipment.id }}") {
                    weight += parseFloat("{{ rackequipment.equipment.machine_weight }}");
                    equipment = "{{ rackequipment.equipment.id }}";
                }
            }
            "{% endfor %}"

            var unit_list = '<ul id="id_unit_number" class="ks-cboxtags">';
            for (var i = 1; i <= parseInt(rack_size); i++) {
                if (i < 10)
                    unit_list += '<li><input type="checkbox" id="' + i + '" name="unit_number"  value="' + i + '" value="Rainbow Dash"><label for="' + i + '">U0' + i + '</label></li>';
                else
                    unit_list += '<li><input type="checkbox" id="' + i + '" name="unit_number"  value="' + i + '" value="Rainbow Dash"><label for="' + i + '">U' + i + '</label></li>';
            }
            $('ul[id="id_unit_number"]').replaceWith(unit_list);

            $("#id_rack").css("border", "2px solid dodgerblue");
            $("#rack_error").html("น้ำหนักรวม Equipment ที่ต้องการเพิ่ม " + String(weight) + "/" + String(acceptable_weight));
            if (weight <= acceptable_weight) {
                $("#rack_error").css("color", "green");
            } else {
                $("#rack_error").css("color", "rgb(255, 0, 0)");
            }

        }
        "{% endfor %}"
        checkedUnit();
        $("#rack_error").show();
    });

    $('#id_front_back').change(function() {
        $('input[type="checkbox"]').prop("checked", false);
        $('input[type="checkbox"]').prop("disabled", false);
        checkedUnit();
    });

    // ฟังก์ชัน disabled unit ที่เคยใช้ไปแล้ว
    function checkedUnit() {
        if (rack == 1) {
            "{% for rack_equipment in rack_equipment %}"
            if ("{{rack_equipment.rack.id}}" == $('#id_rack').val()) {
                if ($('#id_front_back').val() == "Front Back") {
                    $('#{{rack_equipment.unit_number}}').prop("checked", true);
                    if (String($('#id_equipment').val()) == String("{{rack_equipment.equipment.id}}"))
                        $('#{{rack_equipment.unit_number}}').prop("disabled", false);
                    else
                        $('#{{rack_equipment.unit_number}}').prop("disabled", true);
                } else {
                    if ("{{rack_equipment.front_back}}" == $('#id_front_back').val()) {
                        $('#{{rack_equipment.unit_number}}').prop("checked", true);
                        if (String($('#id_equipment').val()) == String("{{rack_equipment.equipment.id}}"))
                            $('#{{rack_equipment.unit_number}}').prop("disabled", false);
                        else
                            $('#{{rack_equipment.unit_number}}').prop("disabled", true);
                    }
                }
            }
            "{% endfor %}"
            $('ul[id="id_unit_number"]').show();
        } else
            $('ul[id="id_unit_number"]').hide();
    }
</script>
<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>
{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'equipment-listview' %}"> {% endif %} {% endblock %}