{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<style>
    .serial_number_error,
    .machine_name_error,
    .machine_weight_error,
    .electric_power_error,
    .machine_type_error,
    .image_error,
    .code_type_error,
    .code_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>


<div style="display: none;">
    {% block title %}Update Equipment{% endblock %}
    <input class="menu" value="equipment" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container">
    <h2>Update Equipment</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save and Continue" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Serial Number", "Name", "Weight(Kg)", "Electric Power(W)", "Machine Type", "Customer", "Image", "Code", "Code Type"]
    setInput_text = ["serial_number", "machine_name", "machine_weight", "electric_power", "machine_type", "customer", "image", "code", "code_type"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        if (setInput_text[i] != "customer") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        } else {
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addCustomer'" + 'onclick="ShowPopup(' + "'add-customer'" + ');">Add Customer?</a></label>');
        }
        i++;
    }

    $('label[for="id_auto_generate"]').replaceWith('<input type="checkbox" name="auto_generate" id="id_auto_generate2">');
    $('input[id="id_auto_generate"]').replaceWith('<label for="id_auto_generate2">Auto Generate QR Code</label>');

    var code_type = '<select name="code_type" id="id_code_type" class="form-control my-0 py-1 lime-border">';
    code_type += '<option value="">---</option>';
    code_type += '<option value="BarCode">Bar Code</option>';
    code_type += '<option value="QR Code">QR Code</option>';
    code_type += '</select>';
    $('input[id="id_code_type"]').replaceWith(code_type);
</script>

<script type="text/javascript">
    var serial_number = 1;
    var machine_name = 1;
    var machine_type = 1;
    var machine_weight = 1;
    var electric_power = 1;
    var image = 1;
    var auto_generate = 1;
    var code_type = 1;
    var code = 1;
    $(function() {
        if ("{{equipment.auto_generate}}" == "True") {
            $('#id_auto_generate2').prop('checked', true);
            $('#id_code_type').attr('disabled', true);
            $('#id_code').attr('disabled', true);
        } else
            $('#id_code_type').val("{{equipment.code_type}}");

        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateSeriail()) {
                $('#id_serial_number').css("border", "2px solid rgb(252, 0, 0)");
                $("#serial_number_error").html("ต้องมีตัวอักษร 3-30 ตัว");
                $("#serial_number_error").show();
                serial_number = 0;
            } else {
                $('#id_serial_number').css("border", "2px solid dodgerblue");
                $("#serial_number_error").hide();
                serial_number = 1;
            }
            if (validateName()) {
                $('#id_machine_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#machine_name_error").html("ต้องมีตัวอักษร 3-200 ตัว");
                $("#machine_name_error").show();
                machine_name = 0;
            } else {
                $('#id_machine_name').css("border", "2px solid dodgerblue");
                $("#machine_name_error").hide();
                machine_name = 1;
            }
            if (validateWeight()) {
                $('#id_machine_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#machine_weight_error").css("color", "rgb(255, 0, 0)");
                $("#machine_weight_error").show();
                machine_weight = 1;
            } else {
                $('#id_machine_weight').css("border", "2px solid dodgerblue");
                $("#machine_weight_error").css("color", "green");
                $("#machine_weight_error").show();
                machine_weight = 1;
            }
            if (validatePower()) {
                $('#id_electric_power').css("border", "2px solid rgb(252, 0, 0)");
                $("#electric_power_error").html("กำลังไฟฟ้าต้องเท่ากับ 0 หรือมากกว่า 0");
                $("#electric_power_error").show();
                electric_power = 0;
            } else {
                $('#id_electric_power').css("border", "2px solid dodgerblue");
                $("#electric_power_error").hide();
                electric_power = 1;
            }
            if (validateType()) {
                $('#id_machine_type').css("border", "2px solid rgb(252, 0, 0)");
                $("#machine_type_error").html("โปรดเลื่อประเภทของเครื่อง");
                $("#machine_type_error").show();
                machine_type = 0;
            } else {
                $('#id_machine_type').css("border", "2px solid dodgerblue");
                $("#machine_type_error").hide();
                machine_type = 1;
            }
            if ($('#id_auto_generate2').is(':checked')) {
                $('#id_code_type').attr('disabled', true);
                $('#id_code').attr('disabled', true);
                auto_generate = 1;
                code_type = 0;
                code = 0;
            } else {
                $('#id_code_type').attr('disabled', false);
                $('#id_code').attr('disabled', false);
                if (validateCodeType()) {
                    $('#id_code_type').css("border", "2px solid rgb(252, 0, 0)");
                    $("#code_type_error").html("โปรดเลือกประเภทของโค้ด");
                    $("#code_type_error").show();
                    code_type = 0;
                } else {
                    $('#id_code_type').css("border", "2px solid dodgerblue");
                    $("#code_type_error").hide();
                    code_type = 1;
                }
                if (validateCode()) {
                    $('#id_code').css("border", "2px solid rgb(252, 0, 0)");
                    $("#code_error").html("ต้องมีตัวอักษร 5-200 ตัว");
                    $("#code_error").show();
                    code = 0;
                } else {
                    $('#id_code').css("border", "2px solid dodgerblue");
                    $("#code_error").hide();
                    code = 1;
                }
                auto_generate = 0;
            }
            $('#id_customer').css("border", "2px solid dodgerblue");
            if (serial_number == 1 && machine_name == 1 && machine_type == 1 &&
                machine_weight == 1 && electric_power == 1) {
                if (auto_generate == 1 && code_type == 0 && code == 0)
                    return true;
                else if (auto_generate == 0 && code_type == 1 && code == 1)
                    return true;
                else
                    return false;
            } else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_serial_number').keyup(function() {
            if (validateSeriail()) {
                $('#id_serial_number').css("border", "2px solid rgb(252, 0, 0)");
                $("#serial_number_error").html("ต้องมีตัวอักษร 3-30 ตัว");
                $("#serial_number_error").show();
                serial_number = 0;
            } else {
                $('#id_serial_number').css("border", "2px solid dodgerblue");
                $("#serial_number_error").hide();
                serial_number = 1;
            }
        });
        $('#id_machine_name').keyup(function() {
            if (validateName()) {
                $('#id_machine_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#machine_name_error").html("ต้องมีตัวอักษร 3-200 ตัว");
                $("#machine_name_error").show();
                machine_name = 0;
            } else {
                $('#id_machine_name').css("border", "2px solid dodgerblue");
                $("#machine_name_error").hide();
                machine_name = 1;
            }
        });
        $('#id_machine_weight').keyup(function() {
            if (validateWeight()) {
                $('#id_machine_weight').css("border", "2px solid rgb(252, 0, 0)");
                $("#machine_weight_error").css("color", "rgb(255, 0, 0)");
                $("#machine_weight_error").show();
                machine_weight = 1;
            } else {
                $('#id_machine_weight').css("border", "2px solid dodgerblue");
                $("#machine_weight_error").css("color", "green");
                $("#machine_weight_error").show();
                machine_weight = 1;
            }
        });
        $('#id_electric_power').keyup(function() {
            if (validatePower()) {
                $('#id_electric_power').css("border", "2px solid rgb(252, 0, 0)");
                $("#electric_power_error").html("กำลังไฟฟ้าต้องเท่ากับ 0 หรือมากกว่า 0");
                $("#electric_power_error").show();
                electric_power = 0;
            } else {
                $('#id_electric_power').css("border", "2px solid dodgerblue");
                $("#electric_power_error").hide();
                electric_power = 1;
            }
        });
        $('#id_machine_type').click(function() {
            if (validateType()) {
                $('#id_machine_type').css("border", "2px solid rgb(252, 0, 0)");
                $("#machine_type_error").html("โปรดเลื่อประเภทของเครื่อง");
                $("#machine_type_error").show();
                machine_type = 0;
            } else {
                $('#id_machine_type').css("border", "2px solid dodgerblue");
                $("#machine_type_error").hide();
                machine_type = 1;
            }
        });
        $('#id_image').change(function() {
            if (validateImage()) {
                $('#id_image').css("border", "2px solid rgb(252, 0, 0)");
                $("#image_error").html("โปรดเพิ่มรูปภาพตัวเครื่อง");
                $("#image_error").show();
                image = 0;
            } else {
                $('#id_image').css("border", "2px solid dodgerblue");
                $("#image_error").hide();
                image = 1;
            }
        });
        $('#id_customer').change(function() {
            $('#id_customer').css("border", "2px solid dodgerblue");
        });
        $('#id_auto_generate2').click(function() {
            if ($('#id_auto_generate2').is(':checked')) {
                $('#id_code_type').attr('disabled', true);
                $('#id_code').attr('disabled', true);
                auto_generate = 1;
            } else {
                $('#id_code_type').attr('disabled', false);
                $('#id_code').attr('disabled', false);
                auto_generate = 0;
            }
        });
        $('#id_code_type').click(function() {
            if (validateCodeType()) {
                $('#id_code_type').css("border", "2px solid rgb(252, 0, 0)");
                $("#code_type_error").html("โปรดเลือกประเภทของโค้ด");
                $("#code_type_error").show();
                code_type = 0;
            } else {
                $('#id_code_type').css("border", "2px solid dodgerblue");
                $("#code_type_error").hide();
                code_type = 1;
            }
        });
        $('#id_code').keyup(function() {
            if (validateCode()) {
                $('#id_code').css("border", "2px solid rgb(252, 0, 0)");
                $("#code_error").html("ต้องมีตัวอักษร 5-200 ตัว");
                $("#code_error").show();
                code = 0;
            } else {
                $('#id_code').css("border", "2px solid dodgerblue");
                $("#code_error").hide();
                code = 1;
            }
        });

        function validateCode() {
            var code_length = $("#id_code").val().length;
            if (code_length < 5 || code_length > 200) {
                return true;
            } else {
                return false;
            }
        }

        function validateCodeType() {
            var code_type = $("#id_code_type").val();
            if (code_type == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateImage() {
            var image = $("#id_image").val();
            if (image == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateType() {
            var type = $("#id_machine_type").val();
            if (type == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateSeriail() {
            var serial_length = $("#id_serial_number").val().length;
            if (serial_length < 3 || serial_length > 30) {
                return true;
            } else {
                return false;
            }
        }

        function validateName() {
            var name_length = $("#id_machine_name").val().length;
            if (name_length < 3 || name_length > 200) {
                return true;
            } else {
                return false;
            }
        }

        function validateWeight() {
            var weight = parseFloat($("#id_machine_weight").val());
            var getEquipment;
            var acceptable_weight = parseFloat("{{rack.acceptable_weight}}");
            weight += parseFloat("{{rack.rack_weight}}");
            "{% for rackequipment in rackequipment %}"
            if (getEquipment != "{{ rackequipment.equipment.id }}" && "{{ rackequipment.equipment.id }}" != "{{ equipment.id }}") {
                weight += parseFloat("{{ rackequipment.equipment.machine_weight }}");
                getEquipment = "{{ rackequipment.equipment.id }}";
            }
            "{% endfor %}"
            $("#machine_weight_error").html("น้ำหนักรวม Equipment ที่ต้องการอัพเดท " + String(weight) + "/" + String(acceptable_weight));
            if (weight <= acceptable_weight) {
                return false;
            } else {
                return true;
            }
        }

        function validatePower() {
            var power = $("#id_electric_power").val();
            if (parseInt(power) < 0) {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

<script>
    document.getElementById("id_serial_number").placeholder = "Serial Number";
    document.getElementById("id_machine_name").placeholder = "Name";
    document.getElementById("id_machine_weight").placeholder = "Weight";
    document.getElementById("id_electric_power").placeholder = "Electric Power";
</script>

<script>
    document.getElementById("id_serial_number").required = false;
    document.getElementById("id_machine_name").required = false;
    document.getElementById("id_machine_type").required = false;
    document.getElementById("id_machine_weight").required = false;
    document.getElementById("id_electric_power").required = false;
    document.getElementById("id_customer").required = false;
    document.getElementById("id_image").required = false;
</script>

<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>


{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'equipment-listview' %}"> {% endif %} {% endblock %}