{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}

<style>
    .type_service_error,
    .name_error,
    .description_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}



<div style="display: none;">
    {% block title %}Add Service{% endblock %}
</div>

<div class="container">
    <h2 style="text-align: center">Add Service</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Type Service", "Name", "Customer", "Description"]
    setInput_text = ["type_service", "name", "customer", "description"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        if (setInput_text[i] != "customer") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        } else {
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addCustomer'" + 'onclick="ShowPopup(' + "'add-customer'" + ');">Add Customer?</a></label>');
        }
        "{% if user.is_superuser %}"
        if (setInput_text[i] == "type_service")
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addServiceType'" + 'onclick="ShowPopup(' + "'add-service-type'" + ');">Add Type?</a></label>');
        "{% endif %}"
        i++
    }
</script>

<script type="text/javascript">
    $('document').ready(function() {
        $('#id_type_service').val(localStorage.getItem('type_service'));
        $('#id_name').val(localStorage.getItem('name'));
        $('#id_description').val(localStorage.getItem('description'));
        $('#id_customer').val(localStorage.getItem('customer'));
    });
    var description = 0;
    var service_type = 0;
    var name = 0;
    $(function() {

        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function myFunction() {
            if (validateDescripment()) {
                $('#id_description').css("border", "2px solid rgb(252, 0, 0)");
                $("#description_error").html("ต้องมีตัวอักษรไม่เกิน 200 ตัว");
                $("#description_error").show();
                description = 0;
            } else {
                $('#id_description').css("border", "2px solid dodgerblue");
                $("#description_error").hide();
                description = 1;
            }
            if (validateTypeService()) {
                $('#id_type_service').css("border", "2px solid rgb(252, 0, 0)");
                $("#type_service_error").html("โปรดเลือกประเภท Service");
                $("#type_service_error").show();
                service_type = 0;
            } else {
                $('#id_type_service').css("border", "2px solid dodgerblue");
                $("#type_service_error").hide();
                service_type = 1;
            }
            if (validateName()) {
                $('#id_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#name_error").html("ต้องมีตัวอักษร 10-50 ตัว");
                $("#name_error").show();
                name = 0;
            } else {
                $('#id_name').css("border", "2px solid dodgerblue");
                $("#name_error").hide();
                name = 1;
            }
            $('#id_customer').css("border", "2px solid dodgerblue");
            if (description == 1 && service_type == 1 && name == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_description').keyup(function() {
            if (validateDescripment()) {
                $('#id_description').css("border", "2px solid rgb(252, 0, 0)");
                $("#description_error").html("ต้องมีตัวอักษรไม่เกิน 200 ตัว");
                $("#description_error").show();
                description = 0;
            } else {
                $('#id_description').css("border", "2px solid dodgerblue");
                $("#description_error").hide();
                localStorage.setItem('description', $(this).val());
                description = 1;
            }
        });
        $('#id_type_service').click(function() {
            if (validateTypeService()) {
                $('#id_type_service').css("border", "2px solid rgb(252, 0, 0)");
                $("#type_service_error").html("โปรดเลือกประเภท Service");
                $("#type_service_error").show();
                service_type = 0;
            } else {
                $('#id_type_service').css("border", "2px solid dodgerblue");
                $("#type_service_error").hide();
                localStorage.setItem('type_service', $(this).val());
                service_type = 1;
            }
        });
        $('#id_name').keyup(function() {
            if (validateName()) {
                $('#id_name').css("border", "2px solid rgb(252, 0, 0)");
                $("#name_error").html("ต้องมีตัวอักษร 10-50 ตัว");
                $("#name_error").show();
                name = 0;
            } else {
                $('#id_name').css("border", "2px solid dodgerblue");
                $("#name_error").hide();
                localStorage.setItem('name', $(this).val());
                name = 1;
            }
        });
        $('#id_customer').click(function() {
            $('#id_customer').css("border", "2px solid dodgerblue");
            localStorage.setItem('customer', $(this).val());
        });

        function validateDescripment() {
            var description_lenght = $("#id_description").val().length;
            if (description_lenght <= 0 || description_lenght > 200) {
                return true;
            } else {
                return false;
            }
        }

        function validateTypeService() {
            var service = $("#id_type_service").val();
            if (service == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateName() {
            var name_length = $("#id_name").val().length;
            if (name_length <= 0 || name_length > 50) {
                return true;
            } else {
                return false;
            }
        }

    });
</script>

<script>
    document.getElementById("id_service").placeholder = "Service";
    document.getElementById("id_description").placeholder = "?????";
</script>

<script>
    document.getElementById("id_description").required = false;
    document.getElementById("id_service").required = false;
    document.getElementById("id_type_service").required = false;
    document.getElementById("id_equipment").required = false;
    document.getElementById("id_customer").required = false;
</script>

<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'service-listview' %}"> {% endif %} {% endblock %}