{% load static %}{% if user.is_superuser %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/error-list.css' %}">

<style>
    .service_error,
    .ip_network_error,
    .ip_address_error,
    .equipment_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>


<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}




<div class="container">
    <h2 style="padding-top: 50px; padding-bottom: 20px; text-align: center;">Add Service IP Address</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    // service ที่แสดงใน ฟอร์ม
    var i = 1;
    document.getElementById('id_service')[0].id = "-";
    document.getElementById("-").style.display = "none";
    "{% for service in service %}"
    document.getElementById('id_service')[i].id = "{{ service.id }}";
    if ("{{ service.id }}" != "{{ id }}") {
        document.getElementById("{{ service.id }}").style.display = "none";
    }
    i++;
    "{% endfor %}"
    document.getElementById("{{ id }}").selected = true;
</script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Service", "IP Network", "IP Address"]
    setInput_text = ["service", "ip_network", "ip_address"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        i++
    }
    var equipment = '<select name="equipment" id="id_equipment" class="form-control my-0 py-1 lime-border">';
    "{% for equipment in equipment %}"
    equipment += '<option value="{{equipment.id}}">{{equipment.serial_number}}</option>';
    "{% endfor %}"
    equipment += '</select>';
    $('input[id="id_equipment"]').replaceWith(equipment);


    var ip_address = '<select name="ip_address" id="id_ip_address" class="form-control my-0 py-1 lime-border">';
    ip_address += '<option value="">---------</option>';
    "{% for ip_address in ip_address %}"
    ip_address += '<option value="{{ip_address.id}}" id="{{ip_address.ip_network.id}}" style="display: none;">{{ip_address.ip_address}}</option>';
    "{% endfor %}"
    ip_address += '</select>';
    $('select[id="id_ip_address"]').replaceWith(ip_address);
    $('select[id="id_ip_network"]').val("");
</script>

<script src="{% static 'js/error-list.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    var network = 0;
    var name = 0;
    var address = 0;
    $(function() {

        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function myFunction() {
            if (validateService()) {
                $('#id_service').css("border", "2px solid rgb(252, 0, 0)");
                $("#service_error").html("โปรดเลือก Service");
                $("#service_error").show();
                service = 0;
            } else {
                $('#id_service').css("border", "2px solid dodgerblue");
                $("#service_error").hide();
                service = 1;
            }
            if (validateNetwork()) {
                $('#id_ip_network').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_network_error").html("โปรดเลือก IP Network");
                $("#ip_network_error").show();
                network = 0;
            } else {
                $('#id_ip_network').css("border", "2px solid dodgerblue");
                $("#ip_network_error").hide();
                network = 1;
            }
            if (validateAddress()) {
                $('#id_ip_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_address_error").html("โปรดเลือก IP Address");
                $("#ip_address_error").show();
                address = 0;
            } else {
                $('#id_ip_address').css("border", "2px solid dodgerblue");
                $("#ip_address_error").hide();
                address = 1;
            }

            if (service == 1 && network == 1 && address == 1)
                return true;
            else
                return false;
        });


        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_service').click(function() {
            if (validateService()) {
                $('#id_service').css("border", "2px solid rgb(252, 0, 0)");
                $("#service_error").html("โปรดเลือก Service");
                $("#service_error").show();
                service = 0;
            } else {
                $('#id_service').css("border", "2px solid dodgerblue");
                $("#service_error").hide();
                service = 1;
            }
        });

        $('#id_ip_network').click(function() {
            if (validateNetwork()) {
                $('#id_ip_network').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_network_error").html("โปรดเลือก IP Network");
                $("#ip_network_error").show();
                network = 0;
            } else {
                $('#id_ip_network').css("border", "2px solid dodgerblue");
                $("#ip_network_error").hide();
                network = 1;
            }
        });
        $('#id_ip_address').change(function() {
            if (validateAddress()) {
                $('#id_ip_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_address_error").html("โปรดเลือก IP Address");
                $("#ip_address_error").show();
                address = 0;
            } else {
                $('#id_ip_address').css("border", "2px solid dodgerblue");
                $("#ip_address_error").hide();
                address = 1;
            }
        });

        function validateAddress() {
            var ip = $("#id_ip_address").val();
            if (ip == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateNetwork() {
            var ip = $("#id_ip_network").val();
            if (ip == "") {
                $('option[id="' + String(ip) + '"]').css("display", "none");
                return true;
            } else {
                $('option[id="' + String(ip) + '"]').css("display", "block");
                return false;
            }
        }

        function validateService() {
            var service = $("#id_service").val();
            if (service == "") {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

<script>
    document.getElementById("id_service").required = false;
    document.getElementById("id_ip_network").required = false;
    document.getElementById("id_ip_address").required = false;
    document.getElementById("id_ip_network").placeholder = "เช่น 10.10.10.0/24";
</script>




<script type="text/javascript">
    // คำสัง reload page ก่อนหน้าหลังปิดหน้านี้
    function RefreshParent() {
        if (window.opener != null && !window.opener.closed) {
            window.opener.location.reload();
        }
    }
    window.onbeforeunload = RefreshParent;
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'service-listview' %}"> {% endif %}