{% extends 'base.html' %} {% load static %} {% block content %}
<div style="display: none;">
    {% block title %}Service Listview{% endblock %}
    <input class="menu" value="service" readonly>
</div>

{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}


<div class="container  table-responsive listview">
    <h2>Service View</h2>
    {% if user.is_superuser %}
    <!-- export table Service  -->
    <a href="#export to excel" id="export" style="float: right;" class="btn btn-outline-secondary">Export to Excel</a>
    <!-- ลิ้งค์ไปหน้า add Service -->
    <a href="{% url 'add-service' %}" class="btn btn-outline-success add">Add Service</a> {% endif %}

    <div class="row" style="margin-top: 5%;">
        <div class="col-md" style="padding: 0"></div>
        <div class="col-md" style="padding: 0">
            <!-- ช่องกรอกข้อมูลสำหรับค้นหา -->
            <div class="input-group md-form form-sm form-2 pl-0 search" style="float: right;">
                <input class="form-control my-0 py-1 lime-border mySearch" id="mySearch" type="search" placeholder="Search" aria-label="Search" style="max-width: 50%; margin-left: 50%;">
                <div class="input-group-append">
                    <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <!-- table แสดงรายชื่อ service  -->
    <table id="myTable" class="table table-hover" style="width: 100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th style="width: 25%">Description</th>
                <th>Customer</th>
                <th>Equipment</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody id="myBody"></tbody>
    </table>
</div>
<div id="table_export"></div>

{% include 'customer/model-customer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ลิสรายชื่อ service ทั้งหมด 
    var body = '';
    var text_confirm = [];
    var i = 0;
    "{% for service in service reversed %}"
    text_confirm.push("คุณต้องการลบ Service {{service.name}}")
    body += "<tr>";
    body += '<td style="vertical-align : middle;">{{service.type_service}}</td>';
    body += '<td style="vertical-align : middle;">{{service.name}}</td>';
    body += '<td style="vertical-align : middle;">{{service.description}}</td>';
    if ("{{ service.customer }}" == "None")
        body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ service.customer.id }}' + "'>-</td>";
    else
        body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ service.customer.id }}' + "' class='open-model-view'>{{service.customer}}</td>";
    var serviceequipment = 0;
    var serviceipaddress = 0;
    "{% for serviceequipment in serviceequipment %}"
    if ("{{serviceequipment.service.id}}" == "{{service.id}}")
        serviceequipment++;
    "{% endfor %}"
    "{% for serviceipaddress in serviceipaddress %}"
    if ("{{serviceipaddress.service.id}}" == "{{service.id}}")
        serviceipaddress++;
    "{% endfor %}"
    body += '<td style="vertical-align : middle;">';
    body += "<table><tr>";
    body += "<td style='vertical-align : middle;'>" + serviceequipment + "</td>";
    "{% if user.is_superuser %}"
    body += '<td><a href="#" onclick="ShowPopup(' + "'add-serviceequipment/{{service.id}}'" + ');">Add more?</a></td>';
    "{% endif %}"
    body += "</tr></table>";
    body += "</td>";
    body += '<td style="vertical-align : middle;">';
    body += "<table><tr>";
    body += "<td style='vertical-align : middle;'>" + serviceipaddress + "</td>";
    "{% if user.is_superuser %}"
    body += '<td><a href="#" onclick="ShowPopup(' + "'add-serviceipaddress/{{service.id}}'" + ');">Add more?</a></td>';
    "{% endif %}"
    body += "</tr></table>";
    body += "</td>";
    body += '<td style="vertical-align : middle;"><a href=' + "'{% url 'report-service' service.id %}'" + '  class="btn btn-outline-primary">Detail</a></td>';
    "{% if user.is_superuser %}"
    body += "<td style='vertical-align : middle;'><a onclick='return DeleteService(" + i + ");' href='{% url 'delete-service' service.id %}'  class='btn btn-outline-danger'>Delete</a></td>";
    "{% endif %}"
    body += "</tr>";
    i++;
    "{% empty %}"
    body += '<tr><td colspan="5" style="vertical-align : middle; text-align: center;">NO DATA</td></tr>';
    "{% endfor %}"
    $('#myBody').append(body);

    // จัดเรียงตามชื่อ service
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[1];
            y = rows[i + 1].getElementsByTagName("TD")[1];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // ฟังก์ชั่น confirm หลังกดปุ่ม delete
    function DeleteService(text) {
        var r = confirm(text_confirm[text]);
        if (r == true)
            return true;
        else
            return false;
    }
</script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    // สร้าง table สำหรับ export 
    $('#export').click(function() {
        var table = '<table style="display:none;" id="table_export">';
        table += '<tr>';
        table += '<th>Type</th>';
        table += '<th>Name</th>';
        table += '<th>User</th>';
        table += '<th>Customer</th>';
        table += '<th>Note</th>';
        table += '<th>Equipment</th>';
        table += '<th>IP Address</th>';
        table += '</tr>';

        "{% for service in service reversed %}"
        table += "<tr>";
        table += "<td style='vertical-align : middle;'>{{service.type_service}}</td>";
        table += "<td style='vertical-align : middle;'>{{service.name}}</td>";
        table += "<td style='vertical-align : middle;'>{{service.user}}</td>";
        if ("{{ service.customer }}" == "None")
            table += "<td style='vertical-align : middle;'></td>";
        else
            table += "<td style='vertical-align : middle;'>{{service.customer}}</td>";
        table += "<td style='vertical-align : middle;'>{{service.note}}</td>";

        var equipment = "";
        "{% for serviceequipment in serviceequipment %}"
        "{% if serviceequipment.service.id == service.id %}"
        equipment += "{{ serviceequipment.equipment }}" + "<br>";
        "{% endif %}"
        "{% endfor %}"

        var ipaddress = "";
        "{% for serviceipaddress in serviceipaddress %}"
        "{% if serviceipaddress.service.id == service.id %}"
        ipaddress += "{{ serviceipaddress.ip_address }}" + "<br>";
        "{% endif %}"
        "{% endfor %}"

        table += "<td style='vertical-align : middle;'>" + String(equipment) + "</td>";
        table += "<td style='vertical-align : middle;'>" + String(ipaddress) + "</td>";
        table += "</tr>";
        "{% endfor %}"

        $('#table_export').replaceWith(table);
        $("#table_export").table2excel({
            filename: "table_service.xls"
        });
        var table_export = '<div id="table_export"></div>';
        $('#table_export').replaceWith(table);
    })
</script>

<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>

<script>
    $(document).ready(function() {
        // ตำสั่งค้นหาภายใน table 
        $("#mySearch").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}