{% extends 'base.html' %} {% load static %} {% block content %}

<div style="display: none;">
    {% block title %}{{service.service}}{% endblock %}
    <input class="menu" value="service" readonly>
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container  table-responsive listview">
    <h2>{{service.name}}</h2>
    <div align="center">
        <!-- table แสดงข้อมูลของ service -->
        <table class="table table-hover table-view  table-striped" style="width: 50%;">
            <thead>
                <tr>
                    <th colspan="2">Detail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 30%">Type</th>
                    <td style="width: 70%">{{service.type_service}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{service.name}}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td data-toggle='modal' data-target='#user{{ service.user.id }}' class='open-model-view'>{{service.user}}</td>
                </tr>
                <tr>
                    <th>Customer</th>
                    {% if service.customer %}
                    <td data-toggle='modal' data-target='#customer{{ service.customer.id }}' class='open-model-view'>{{service.customer}}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Descripment</th>
                    <td>{{service.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>

    <h3>Equipment</h3>
    <!-- table แสดง equipment ที่ใช้ใน service -->
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Name</th>
                <th>Type</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody id="BodyEquipment"></tbody>
    </table>
    <br><br>

    <h3>IP Address</h3>
    <!-- table แสดง ip address ที่ใช้ใน service -->
    <table id="myTable2" class="table table-hover">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Equipment</th>
                <th>Create at</th>
            </tr>
        </thead>
        <tbody id="BodyIPAddress"></tbody>
    </table>
</div>

{% include 'customer/model-customer.html' %} {% include 'model_user.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    var body = "";
    var text_confirm = [];
    var url = [];
    var i = 0;
    var j = 0;
    // ลิส equipment ที่ใช้ใน service
    "{% for serviceequipment in serviceequipment reversed %}"
    text_confirm.push("คุณต้องการลบ Equipment {{serviceequipment.equipment.serial_number}}");
    url.push("{% url 'equipment-detail' serviceequipment.equipment.id %}");
    body += "<tr>";
    body += "<td style='vertical-align : middle;' onclick='link_to(" + j + ");' class='open-url'>{{serviceequipment.equipment.serial_number}}</td>";
    body += "<td style='vertical-align : middle;'>{{serviceequipment.equipment.machine_name}}</td>";
    body += "<td style='vertical-align : middle;'>{{serviceequipment.equipment.machine_type}}</td>";
    body += "<td style='vertical-align : middle;'>{{serviceequipment.equipment.machine_weight}}</td>";
    "{% if user.is_superuser %}"
    body += "<td style='vertical-align : middle;width:15%;'><a onclick='return DeleteData(" + i + ");' href='{% url 'delete-service-equipment' serviceequipment.id %}' class='btn btn-outline-danger btn-block'>Delete</a></td>";
    "{% endif %}"
    body += "</tr>";
    i++;
    j++;
    "{% empty %}"
    body += "<tr><td colspan='5' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
    "{% endfor %}"
    $('#BodyEquipment').append(body);

    // ลิส ip address ที่ใช้ใน service
    var body = "";
    "{% for serviceipaddress in serviceipaddress reversed %}"
    text_confirm.push("คุณต้องการลบ IP Address {{serviceipaddress.ip_address}}");
    url.push("{% url 'ip-detail' serviceipaddress.ip_network.id %}");
    body += "<tr>";
    body += "<td style='vertical-align : middle;' onclick='link_to(" + j + ");' class='open-url'>{{serviceipaddress.ip_address}}</td>";
    j++;
    url.push("{% url 'equipment-detail' serviceipaddress.ip_address.equipment.id %}");
    body += "<td style='vertical-align : middle;' onclick='link_to(" + j + ");' class='open-url'>{{serviceipaddress.ip_address.equipment}}</td>";
    body += "<td style='vertical-align : middle;'>{{serviceipaddress.ip_address.create_at}}</td>";
    "{% if user.is_superuser %}"
    body += "<td style='vertical-align : middle; width:15%;'><a onclick='return DeleteData(" + i + ");' href='{% url 'delete-service-ip-address' serviceipaddress.id %}' class='btn btn-outline-danger btn-block'>Delete</a></td>";
    "{% endif %}"
    body += "</tr>";
    i++;
    j++;
    "{% empty %}"
    body += "<tr><td colspan='7' style='vertical-align : middle; text-align: center;'>NO DATA</td></tr>";
    "{% endfor %}"
    $('#BodyIPAddress').append(body);

    // จัดเรียงชื่อ equipment ตามตัวอักษร
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // จัดเรียงชื่อ ip address ตามตัวอักษร ไม่สมบูรณ์
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable2");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (parseInt(x.innerHTML, 16) > parseInt(y.innerHTML, 16)) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }

    // ฟังก์ชันลิ้งค์ไปหน้าที่กำหนด
    function link_to(id) {
        window.location = url[id];
    }

    // ฟังก์ชันลิ้งค์ confirm เมื่อกดปุ่ม delete
    function DeleteData(text) {
        var r = confirm(text_confirm[text]);
        if (r == true)
            return true;
        else
            return false;
    }
</script>
{% endblock %}