{% extends 'base.html' %} {% load static %} {% block content %}
<style>
    .carousel-item {
        height: 91vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div style="display: none;">
    {% block title %}HOME{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<h2>Dashboard</h2>

<!-- div สำหรับวางข้อมูลโดยรวมของหน้าต่างๆ -->
<div class="index container" id="index">
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    // สรุปข้อมูลหน้า equipment, ip network, service 
    var dashboard = ''
    var item = ['Equipment', 'IPNetwork', 'Service'];
    var data = ['{{equipment.count}}', '{{ipnetwork.count}}', '{{service.count}}'];
    var url = ["{% url 'equipment-listview' %}", "{% url 'ip-listview' %}", "{% url 'service-listview' %}"];
    var front = [' ', '', '', ''];
    var equipment = -1;
    var back = [' device', ' network', ' service'];
    for (var i = 0; i < item.length; i++) {
        dashboard += '<a href="' + url[i] + '"><div class="dashboard">';
        dashboard += '<h3>' + item[i] + '</h3>';
        dashboard += '<p>' + front[i] + data[i] + back[i] + '</p>';
        dashboard += '</div></a>';
    }
    // สรุปข้อมูลหน้า location
    "{% for location in location %}"
    var zone = [];
    var weight = 0.00;
    var acceptable_weight = 0.00;
    var rack_size = 0;
    var unit = 0;
    var rack = 0;
    var rack_green = 0;
    var rack_yellow = 0;
    var rack_red = 0;
    "{% for rack in rack %}"
    if (String("{{rack.location.id}}") == String("{{location.id}}")) {
        acceptable_weight = parseFloat("{{rack.acceptable_weight}}");
        rack_size = parseInt("{{rack.rack_size}}");
        weight = parseFloat("{{rack.rack_weight}}");
        var id_equipment = -1;
        "{% for rackequipment in rackequipment %}"
        if (String("{{rackequipment.rack.id}}") == String("{{rack.id}}")) {
            if (String("{{rackequipment.equipment.id}}") != String(id_equipment)) {
                id_equipment = "{{rackequipment.equipment.id}}";
                if (String("{{rackequipment.rack.rack}}") != "Out of Rack")
                    weight += parseFloat("{{rackequipment.equipment.machine_weight}}");
            }
            if (String("{{rackequipment.rack.rack}}") != "Out of Rack")
                unit++;
        }
        "{% endfor %}"
        if (String("{{rack.rack}}") != "Out of Rack") {
            rack++;
            var purcent_weight = (weight / acceptable_weight) * 100;
            var purcent_unit = (unit / (rack_size * 2)) * 100;
            if (purcent_weight < 70 && purcent_unit < 70)
                rack_green++;
            else if ((purcent_weight >= 70 && purcent_weight <= 90) || (purcent_unit >= 70 && purcent_unit <= 90))
                rack_yellow++;
            else
                rack_red++;
        }
    }
    "{% endfor %}"
    dashboard += "<a href='{% url 'rack-listview' location.id %}'><div class='dashboard'>";
    dashboard += '<h3 style="height:90%">{{location}}</h3>';
    dashboard += '<table style="vertical-align: bottom; height:10%;  width:100%;"><tr>';
    dashboard += '<td style="text-align: center; width:33.33%;vertical-align:middle;">' + "<img src='{% static 'images/green.png' %}' alt='led' width='20px' height='20px'> " + rack_green + '</td>';
    dashboard += '<td style="text-align: center; width:33.33%;vertical-align:middle;">' + "<img src='{% static 'images/yellow.png' %}' alt='led' width='20px' height='20px'> " + rack_yellow + '</td>';
    dashboard += '<td style="text-align: center; width:33.33%;vertical-align:middle;">' + "<img src='{% static 'images/red.png' %}' alt='led' width='20px' height='20px'> " + rack_red + '</td>';
    dashboard += '</tr></table>';
    dashboard += '</div></a>';
    "{% endfor %}"
    $('#index').append(dashboard);
</script>
{% endblock %}