<!-- popup ข้อมูล user -->
{% for user_data_all in user_data_all reversed %}
<div class="modal fade" id="user{{ user_data_all.user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <table align="center">
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>{{ user_data_all.first_name }} {{ user_data_all.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ user_data_all.email }}</td>
                        </tr>
                        <tr>
                            <th>Phone:</th>
                            <td>{{ user_data_all.phone }}</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>{{ user_data_all.address }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}