#profile {
    width: 90%;
}

#slot_1 {
    width: 25%;
    height: 30%;
    vertical-align: top;
    padding: 20px;
}

#slot_2 {
    width: 75%;
    height: 30%;
    vertical-align: top;
    padding: 25px;
}

#profile_image img {
    max-height: 100%;
    max-width: 100%;
}

#profile_image .file {
    position: relative;
    overflow: hidden;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

#profile_image .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}