{% extends 'base.html' %} {% load static %} {% block content %}

<div style="display: none;">
    {% block title %}Location Listview{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}



<div class="container  table-responsive listview">
    <h2>Location View</h2>

    {% if user.is_superuser %}
    <!-- ลิ้งค์ไปหน้า Add Location -->
    <a href="{% url 'add-location-tamplate-view' %}" class="btn btn-outline-success add">Add Location</a> {% endif %}

    <!-- table แสดงรายชื่อ Location  -->
    <table id="myTable" class="table table-hover table-view">
        <thead>
            <tr>
                <th>Location</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    var text_confirm = [];
    var confirm_delete = [];

    $(document).ready(function() {
        locationShowAll();
    });

    // ฟังก์ชันแสดงรายชื่อ location ทั้งหมด
    function locationShowAll() {
        var body = "";
        var i = 0;
        text_confirm = [];
        confirm_delete = [];
        body += "<tbody id='myBody'>";
        "{% for location in location reversed %}"
        text_confirm.push("คุณต้องการลบ Location {{location.location}}");
        var equipment = 0;
        var rack = 0;
        "{% for rack_equipment in rack_equipment %}"
        if (String("{{rack_equipment.rack.location.id}}") == String("{{location.id}}")) {
            equipment++;
        }
        "{% endfor %}"
        "{% for rack in rack %}"
        if (String("{{rack.location.id}}") == String("{{location.id}}")) {
            if (String("{{rack.rack}}") != "Out of Rack")
                rack++;
        }
        "{% endfor %}"
        confirm_delete.push(equipment + rack);
        body += "<tr>";
        body += "<td style='vertical-align : middle;'>{{location.location}}</td>";
        body += "<td style='vertical-align : middle;'>{{location.address}}</td>";
        body += "<td style='vertical-align : middle; width:100px;'><a href='{% url 'rack-listview' location.id %}'  class='btn btn-outline-primary' style='width:100%;'>Detail</a></td>";
        "{% if user.is_superuser %}"
        body += "<td style='vertical-align : middle; width:100px;'><a href='{% url 'update-location' location.id %}'  class='btn btn-outline-success' style='width:100%;'>Edit</a></td>";
        body += "<td style='vertical-align : middle; width:100px;'><a onclick='return deleteLocation(" + i + ");' href='{% url 'location-delete' location.id %}' style='width:100%;'  class='btn btn-outline-danger'>Delete</a></td>";
        "{% endif %}"
        body += "</tr>"
        i++;
        "{% empty %}"
        body += "<tr>";
        body += "<td colspan='5'  style='vertical-align : middle; text-align: center;'>NO DATA</td>";
        body += "</tr>";
        "{% endfor %}"
        body += '</tbody>';
        $('#myBody').replaceWith(body);

        // จัดเรียง location ตามตัวอักษร
        table = document.getElementById("myTable");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (var i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    // ฟังก์ชันตรวจสอบก่อนกดปุ่ม delete
    function deleteLocation(text) {
        if (confirm_delete[text] == 0) {
            var r = confirm(text_confirm[text]);
            if (r == true)
                return true;
            else
                return false;
        } else {
            alert("ท่านต้องลบ Rack หรือย้าย Equipment ให้หมดก่อน")
            return false;
        }
    }
</script>
{% endblock %}