{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}
<style>
    .location_error,
    .address_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
    
    textarea {
        height: 80px;
        resize: none;
        padding: 10px 10px 10px 10px;
    }
</style>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}


<div class="container">
    <h2 style="text-align: center">Edit Location</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["Location", "Address"]
    setInput_text = ["location", "address"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' +
            setInput_text[i] + '_error"></p></label>');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label style="width:100%;">' +
            setLabel_input[i] + '</label>');
        i++
    }
</script>

<script>
    document.getElementById("id_location").placeholder = "Location";
    document.getElementById("id_address").placeholder = "Address";
</script>
<script>
    var setLocation = 0;
    var address = 0;

    // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
    $('#btn-add').click(function() {
        validateLocation();
        validateAddress();
        if (setLocation == 1 && address == 1)
            return true;
        else
            return false;
    });

    // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
    $('#id_location').keyup(function() {
        validateLocation();
    });

    function validateLocation() {
        location_ = $('#id_location').val();
        if (location_ == "") {
            $('#id_location').css("border", "2px solid rgb(252, 0, 0)");
            $("#location_error").html("กรุณากรอกข้อมูล");
            $("#location_error").show();
            setLocation = 0;
        } else {
            $('#id_location').css("border", "2px solid dodgerblue");
            $("#location_error").hide();
            setLocation = 1;
        }
    }

    $('#id_address').keyup(function() {
        validateAddress();
    });

    function validateAddress() {
        address = $('#id_address').val();
        if (address == "") {
            $('#id_address').css("border", "2px solid rgb(252, 0, 0)");
            $("#address_error").html("กรุณากรอกข้อมูล");
            $("#address_error").show();
            address = 0;
        } else {
            $('#id_address').css("border", "2px solid dodgerblue");
            $("#address_error").hide();
            address = 1;
        }
    }
</script>
{% elif user.is_authenticated %}

<meta http-equiv=refresh content=0;URL="{% url 'index' %}"> {% else %}

<meta http-equiv=refresh content=0;URL="{% url 'link-login-register' %}"> {% endif %} {% endblock %}