{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}
<style>
    .ip_network_error,
    .subnet_error,
    .v_lan_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>


<div style="display: none;">
    {% block title %}Add IP Network{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}


<div class="container">
    <h2 style="text-align: center">Add IPNetwork</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
</div>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["IP Network", "Subnet", "Description", "VLAN"]
    setInput_text = ["ip_network", "subnet", "description", "v_lan"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        i++
    }
</script>
<script type="text/javascript">
</script>

<script type="text/javascript">
    var ip_address = 0;
    var subnet = 0;
    var v_lan = 0;
    $(function() {


        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateIP()) {
                $('#id_ip_network').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_network_error").html("IP Network ของท่านไม่ถูกต้อง");
                $("#ip_network_error").show();
                ip_address = 0;
            } else {
                $('#id_ip_network').css("border", "2px solid dodgerblue");
                $("#ip_network_error").hide();
                ip_address = 1;
            }
            if (validateSubnet()) {
                $('#id_subnet').css("border", "2px solid rgb(252, 0, 0)");
                $("#subnet_error").html("Subnet ของท่านห้ามมากกว่า 128 หรือน้อยกว่า 8");
                $("#subnet_error").show();
                subnet = 0;
            } else {
                $('#id_subnet').css("border", "2px solid dodgerblue");
                $("#subnet_error").hide();
                subnet = 1;
            }
            if (validateVLan()) {
                $('#id_v_lan').css("border", "2px solid rgb(252, 0, 0)");
                $("#v_lan_error").html("กรุณากรอกข้อมูล");
                $("#v_lan_error").show();
                v_lan = 0;
            } else {
                $('#id_v_lan').css("border", "2px solid dodgerblue");
                $("#v_lan_error").hide();
                v_lan = 1;
            }
            $('#id_description').css("border", "2px solid dodgerblue");
            if (ip_address == 1 && subnet == 1 && v_lan == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_ip_network').keyup(function() {
            if (validateIP()) {
                $('#id_ip_network').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_network_error").html("IP Network ของท่านไม่ถูกต้อง");
                $("#ip_network_error").show();
                ip_address = 0;
            } else {
                $('#id_ip_network').css("border", "2px solid dodgerblue");
                $("#ip_network_error").hide();
                ip_address = 1;
            }
        });
        $('#id_subnet').keyup(function() {
            if (validateSubnet()) {
                $('#id_subnet').css("border", "2px solid rgb(252, 0, 0)");
                $("#subnet_error").html("Subnet ของท่านห้ามมากกว่า 128 หรือน้อยกว่า 8");
                $("#subnet_error").show();
                subnet = 0;
            } else {
                $('#id_subnet').css("border", "2px solid dodgerblue");
                $("#subnet_error").hide();
                subnet = 1;
            }
        });
        $('#id_description').keyup(function() {
            $('#id_description').css("border", "2px solid dodgerblue");
        });
        $('#id_v_lan').keyup(function() {
            if (validateVLan()) {
                $('#id_v_lan').css("border", "2px solid rgb(252, 0, 0)");
                $("#v_lan_error").html("กรุณากรอกข้อมูล");
                $("#v_lan_error").show();
                v_lan = 0;
            } else {
                $('#id_v_lan').css("border", "2px solid dodgerblue");
                $("#v_lan_error").hide();
                v_lan = 1;
            }
        });

        function validateVLan() {
            var v_lan = $("#id_v_lan").val();
            if (v_lan == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateIP() {
            var ip = $("#id_ip_network").val();
            var reg = /((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))/
            if (reg.test(ip)) {
                return false;
            } else {
                return true;
            }
        }

        function validateSubnet() {
            var subnet = $("#id_subnet").val();
            if (subnet < 8 || subnet > 128) {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

<script>
    document.getElementById("id_ip_network").placeholder = "192.168.1.0";
    document.getElementById("id_subnet").placeholder = "24";
    document.getElementById("id_v_lan").placeholder = "8888";
</script>

<script>
    document.getElementById("id_ip_network").required = false;
    document.getElementById("id_subnet").required = false;
</script>

<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'ip-listview' %}"> {% endif %} {% endblock %}