{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_superuser %}
<style>
    .ip_network_error,
    .ip_address_error,
    .description_error,
    .equipment_error {
        font-size: 12px;
        color: rgb(255, 0, 0);
    }
</style>
<div style="display: none;">
    {% block title %}Add IP Address{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}

<div class="container">
    <h2 style="text-align: center">Add IPAddress</h2>
    <!-- ฟอร์มกรอกข้อมูล -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-outline-success btn-block" id="btn-add">
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    // ปรับแต่งฟอร์มกรอกข้อมูล
    setLabel_input = ["IP Network", "IP Address", "Description", "Equipment", "Customer"]
    setInput_text = ["ip_network", "ip_address", "description", "equipment", "customer"]
    var i = 0;
    while (i <= setInput_text.length) {
        $('#id_' + setInput_text[i]).addClass(setInput_text[i] + ' form-control my-0 py-1 lime-border');
        $('label[for="id_' + setInput_text[i] + '"]').replaceWith('<label>' + setLabel_input[i] + '</label>');
        if (setInput_text[i] != "customer") {
            $('.' + setInput_text[i]).after('<label><p id="' + setInput_text[i] + '_error" class="' + setInput_text[i] + '_error"></p></label>');
        } else {
            $('.' + setInput_text[i]).after("<label style='float: right;'><a href='#' id='addCustomer'" + 'onclick="ShowPopup(' + "'add-customer'" + ');">Add Customer?</a></label>');
        }
        i++
    }
    var select = '<select name="ip_network" id="id_ip_network" class="ip_network form-control my-0 py-1 lime-border" style="border: 2px solid rgb(252, 0, 0);">';
    select += '<option value="{{ipnetwork.id}}">{{ipnetwork.ip_network}}</option>';
    select += '</select>';
    $('select[id="id_ip_network"]').replaceWith(select);
</script>

<script type="text/javascript">
    $('document').ready(function() {
        $('#id_ip_address').val(localStorage.getItem('ip_address'));
        $('#id_description').val(localStorage.getItem('description'));
        $('#id_equipment').val(localStorage.getItem('equipment'));
        $('#id_customer').val(localStorage.getItem('customer'));
    });

    var network = 1;
    var address = 1;
    var discription = 0;
    var equipment = 0;
    $(function() {

        $('#id_ip_network').css("border", "2px solid dodgerblue");

        // ตรวจสอบข้อมูลอีกครั้งหลังกดปุ่ม submit
        $("#btn-add").click(function() {
            if (validateNetwork()) {
                $('#id_ip_network').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_network_error").html("โปรดเลือก IP Network");
                $("#ip_network_error").show();
                network = 0;
            } else {
                $('#id_ip_network').css("border", "2px solid dodgerblue");
                $("#ip_network_error").hide();
                network = 1;
            }
            if (validateAddress()) {
                $('#id_ip_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_address_error").html("IP Address ของท่านไม่ถูกต้อง");
                $("#ip_address_error").show();
                address = 0;
            } else {
                $('#id_ip_address').css("border", "2px solid dodgerblue");
                $("#ip_address_error").hide();
                address = 1;
            }
            if (validateDescription()) {
                $('#id_description').css("border", "2px solid rgb(252, 0, 0)");
                $("#description_error").html("กรุณากรอกข้อมูล");
                $("#description_error").show();
                discription = 0;
            } else {
                $('#id_description').css("border", "2px solid dodgerblue");
                $("#description_error").hide();
                discription = 1;
            }
            if (validateEquipment()) {
                $('#id_equipment').css("border", "2px solid rgb(252, 0, 0)");
                $("#equipment_error").html("โปรดเลือก Equipment");
                $("#equipment_error").show();
                equipment = 0;
            } else {
                $('#id_equipment').css("border", "2px solid dodgerblue");
                $("#equipment_error").hide();
                equipment = 1;
            }
            $('#id_customer').css("border", "2px solid dodgerblue");
            if (network == 1 && address == 1 && discription == 1 && equipment == 1)
                return true;
            else
                return false;
        });

        // ตรวจสอบข้อมูลอีกครั้งก่อนกดปุ่ม submit
        $('#id_ip_network').click(function() {
            if (validateNetwork()) {
                $('#id_ip_network').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_network_error").html("โปรดเลือก IP Network");
                $("#ip_network_error").show();
                network = 0;
            } else {
                $('#id_ip_network').css("border", "2px solid dodgerblue");
                $("#ip_network_error").hide();
                network = 1;
            }
        });
        $('#id_ip_address').keyup(function() {
            if (validateAddress()) {
                $('#id_ip_address').css("border", "2px solid rgb(252, 0, 0)");
                $("#ip_address_error").html("IP Address ของท่านไม่ถูกต้อง");
                $("#ip_address_error").show();
                address = 0;
            } else {
                $('#id_ip_address').css("border", "2px solid dodgerblue");
                $("#ip_address_error").hide();
                localStorage.setItem('ip_address', $(this).val());
                address = 1;
            }
        });
        $('#id_description').keyup(function() {
            if (validateDescription()) {
                $('#id_description').css("border", "2px solid rgb(252, 0, 0)");
                $("#description_error").html("กรุณากรอกข้อมูล");
                $("#description_error").show();
                discription = 0;
            } else {
                $('#id_description').css("border", "2px solid dodgerblue");
                $("#description_error").hide();
                localStorage.setItem('description', $(this).val());
                discription = 1;
            }
        });
        $('#id_equipment').click(function() {
            if (validateEquipment()) {
                $('#id_equipment').css("border", "2px solid rgb(252, 0, 0)");
                $("#equipment_error").html("โปรดเลือก Equipment");
                $("#equipment_error").show();
                equipment = 0;
            } else {
                $('#id_equipment').css("border", "2px solid dodgerblue");
                $("#equipment_error").hide();
                localStorage.setItem('equipment', $(this).val());
                equipment = 1;
            }
        });
        $('#id_customer').click(function() {
            $('#id_customer').css("border", "2px solid dodgerblue");
            localStorage.setItem('customer', $(this).val());
        });

        function validateEquipment() {
            var equipment = $("#id_equipment").val();
            if (equipment == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateNetwork() {
            var network = $("#id_ip_network").val();
            if (network == "") {
                return true;
            } else {
                return false;
            }
        }

        function validateAddress() {
            var address = $("#id_ip_address").val();
            var reg = /((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))/
            if (reg.test(address)) {
                return false;
            } else {
                return true;
            }
        }

        function validateDescription() {
            var description = $("#id_description").val();
            if (description == "") {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

<script>
    var i = 1;
    document.getElementById('id_ip_network')[0].style.display = "none";
    "{% for network in network %}"
    if ("{{ id }}" == "{{ network.id }}") {
        document.getElementById('id_ip_network')[i].style.display = "block";
        document.getElementById('id_ip_network')[i].selected = true;
    } else
        document.getElementById('id_ip_network')[i].style.display = "none";
    i++;
    "{% endfor %}"
</script>

<script>
    document.getElementById("id_ip_address").placeholder = "192.168.1.1";
    document.getElementById("id_description").placeholder = "????????????";
</script>

<script>
    document.getElementById("id_ip_network").required = false;
    document.getElementById("id_ip_address").required = false;
    document.getElementById("id_discription").required = false;
</script>

<script type="text/javascript ">
    // โชว์ popup 
    var popup;

    function ShowPopup(url) {
        popup = window.open(url, "Popup ", "toolbar=no,scrollbars=no,location=no,statusbar=no,menubar=no,resizable=0,width=500,height=540,left=4 90,top=2 62 ");
        popup.focus();
    }
</script>

{% else %}

<meta http-equiv=refresh content=0;URL="{% url 'ip-listview' %}"> {% endif %} {% endblock %}