{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    table ul li {
        list-style-type: none;
    }
</style>
<div style="display: none;">
    {% block title %}{{network.ip_network}}/{{network.subnet}}{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}


<div align="center">
    <h2>{{network.ip_network}}/{{network.subnet}}</h2>
</div>


<!-- table สำหรับวางตำแหน่งส่วนต่าง -->
<div class="container   listview">
    <table style="width:100%" align="center">
        <tr>
            <td colspan="2" style="padding: 2%;">
                <!-- table แสดงข้อมูล IP Network  -->
                <table class=" table-hover table-view table table-striped" style="width: 40%;" align="center">
                    <tbody>
                        <tr>
                            <th colspan="2">Detail</th>
                        </tr>
                        <tr>
                            <th style="max-width: 30%;">IP Network</th>
                            <td style="max-width: 70%;">{{network.ip_network}}</td>
                        </tr>
                        <tr>
                            <th>Subnet</th>
                            <td>{{network.subnet}}</td>
                        </tr>
                        <tr>
                            <th>VLAN</th>
                            <td>{{network.v_lan}}</td>
                        </tr>
                        <tr>
                            <th>User</th>
                            <td data-toggle="modal" data-target="#user{{ network.user.id }}" class='open-model-view'>{{network.user}}</td>
                        </tr>
                        <tr>
                            <th>Create At</th>
                            <td>{{network.create_at}}</td>
                        </tr>
                        {% if user.is_superuser %}
                        <tr>
                            <td colspan="2">
                                <!-- ปุ่ม edit ข้อมูล equipment  -->
                                <a href="{% url 'update-network' network.id %}" class="btn btn-outline-success btn-block">Update IP Network</a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <!-- ปุ่มโชว์ ip address ทั้งหมดใน ip network -->
                <label for="hide-show-ipaddress" style="float: right;" class='open-model-view'>Show IP Address</label>
                <table id="myTable" class=" table-hover table table-view" style="width: 100%;" align="center">
                    <thead>
                        <tr>
                            {% if user.is_superuser %}
                            <!-- ปุ่ม checkbox สำหรับเลือ ip ที่ต้องการลบ -->
                            <th><input type="checkbox" name="delete_ip" value="all" id="id_delete_ip_0"></th>
                            {% endif %}
                            <th>IP Address</th>
                            <th style="width: 20%;">Description</th>
                            <th>Equipment</th>
                            <th>Customer</th>
                            <th>Create at</th>
                        </tr>
                    </thead>
                    <tbody id="myBody"></tbody>
                    </ul>
                </table>
            </td>
        </tr>
        {% if user.is_superuser %}
        <tr align="center" style="font-size: 200px; height: 100px;">
            <td style="width: 50%;">
                <div style="width: 80%">
                    <!-- ปุ่มสร้าง ip address -->
                    <a href="{% url 'add-address' network.id %}" class="btn btn-outline-success btn-block">Create IP Address</a>
                </div>
            </td>
            <!-- ฟอร์มที่ใช้สำหรับส่ง id ip address ที่ต้องการลบ -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}{{ form.as_p }}
                <td style="width: 50%;">
                    <div style="width: 80%">
                        <input type="submit" value="Delete" id="delete-ip-address" class="btn btn-outline-danger btn-block">
                    </div>
                </td>
            </form>
        </tr>
        {% endif %}
    </table>
</div>

{% include 'customer/model-customer.html' %} {% include 'model_user.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    $('label[for="id_delete_ip"]').css("display", "none")
    $('input[id="id_delete_ip"]').css("display", "none")
</script>

<script>
    var body = "";
    var disabled = 0;
    var text_confirm = [];
    var checkbox = [];
    var i = 0;
    var id_serviceipaddress = "";
    var td = '';
    // ลิส ip address ทั้งหมด
    "{% for x in ip_address_list %}"
    text_confirm.push("คุณต้องการลบ IP {{ip_address.ip_address}}");
    body += "<tr id='{{x}}' class='no_data'>";
    body += "<td style='vertical-align : middle;'></td>";
    body += "<td style='vertical-align : middle;'>{{x}}</td>";
    body += "<td style='vertical-align : middle;'>-</td>";
    body += "<td style='vertical-align : middle;'>-</td>";
    body += "<td style='vertical-align : middle;'>-</td>";
    body += "<td style='vertical-align : middle;'>-</td>";
    body += "</tr>";
    disabled = 0;
    "{% endfor %}"
    $('#myBody').append(body);

    var data = 0;
    // ลิส ip address ที่ถูกสร้าง
    "{% for ip_address in ip_address %}"
    td = '<tr>';
    text_confirm.push("คุณต้องการลบ IP {{ip_address.ip_address}}");
    "{% if user.is_superuser %}"
    td += "<td style='vertical-align : middle;'><input type='checkbox' name='delete_ip' value='{{ip_address.id}}' id='id_delete_ip_" + String(i + 1) + "'></td>";
    "{% endif %}"
    td += "<td style='vertical-align : middle;'>{{ip_address.ip_address}}</td>";
    td += "<td style='vertical-align : middle;'>{{ ip_address.description }}</td>";
    "{% if user.is_superuser %}"
    td += "<td style='vertical-align : middle;'><a href='" + "{% url 'equipment-detail' ip_address.equipment.id %}" + "'>{{ip_address.equipment}}</a></td>";
    "{% else %}"
    td += "<td style='vertical-align : middle;'>{{ip_address.equipment}}</td>";
    "{% endif %}"
    if ("{{ ip_address.customer }}" == "None")
        td += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ ip_address.customer.id }}' + "'>-</td>";
    else
        td += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#customer" + '{{ ip_address.customer.id }}' + "' class='open-model-view'>{{ip_address.customer}}</td>";
    td += "<td style='vertical-align : middle;'>{{ip_address.create_at}}</td>";
    td += '</tr>';
    $('tr[id="{{ip_address.ip_address}}"]').replaceWith(td);
    disabled = 1;
    data = 1;
    i++;
    "{% endfor %}"
    if (data == 0) {
        td = "<tr class='no_data_in data_base'>";
        td += "<td colspan='7' style='vertical-align : middle; text-align: center;'>NO DATA</td>";
        td += "</tr>";
        $('tr[id="{{ip_address.ip_address}}"]').append(td);
    }
    $('tr[class="no_data"]').hide();
    $('#delete-ip-address').addClass("isDisabled");
    $('#delete-ip-address').attr('disabled', true);

    $('#delete-ip-address').click(function() {
        DeleteIPAddress();
    });
    // ฟังก์ชันโชว์ confirm ก่อนลบข้อมูล
    function DeleteIPAddress() {
        var r = confirm("คุณต้องการลบ IP Address ที่เลือกไว้");
        if (r == true) {
            $('#id_delete_ip').val(checkbox);
            $('#myForm').submit();
        } else
            return false;
    }

    // ปุ่มโชว์ ip address 
    $('label[for="hide-show-ipaddress"]').click(function() {
        var text = $(this).text();
        if (text == "Hide IP Address") {
            $(this).text("Show IP Address");
            $('tr[class="no_data"]').hide();
        } else {
            $(this).text("Hide IP Address");
            $('tr[class="no_data"]').show();
        }
    });

    // เพิ่มและลบ id ip address ที่ต้องการลบ
    $('input[type="checkbox"]').change(function() {
        if ($(this).prop("checked") == true) {
            if ($(this).val() == "all") {
                $('input[type="checkbox"]').prop('checked', true);
                checkbox = [];
                for (var check = 1; check < $('input[type="checkbox"]').length; check++) {
                    checkbox.push($('#id_delete_ip_' + String(check)).val());
                }
            } else
                checkbox.push($(this).val());
        } else {
            if ($(this).val() == "all") {
                $('input[type="checkbox"]').prop('checked', false);
                for (var check = 1; check < $('input[type="checkbox"]').length; check++) {
                    checkbox.splice($.inArray($('#id_delete_ip_' + String(check)).val(), checkbox), 1);
                }
            } else {
                $('#id_delete_ip_0').prop('checked', false);
                checkbox.splice($.inArray($(this).val(), checkbox), 1);
            }
        }
        if (parseInt("{{lenght_ip_address}}") == parseInt(checkbox.length))
            $('#id_delete_ip_0').prop('checked', true);
        if (checkbox.length == 0) {
            $('#delete-ip-address').addClass("isDisabled");
            $('#delete-ip-address').attr('disabled', true);
        } else {
            $('#delete-ip-address').removeClass("isDisabled");
            $('#delete-ip-address').removeAttr('disabled', true);
        }
    });
</script>



{% endblock %}