{% extends 'base.html' %} {% load static %} {% block content %}


<div style="display: none;">
    {% block title %}IP Network Listview{% endblock %}
</div>

<!-- ตรวจสอบข้อมูล user ว่ามี่การเพิ่มข้อมูลครบแล้วหรือยัง -->
{% if user_data.first_name == "" or user_data.last_name == "" or user_data.email == "" or user_data.phone == "" or user_data.address == "" or user_data.image == "" %}
<meta http-equiv=refresh content=0;URL="{% url 'profile' user.id %}"> {% endif %}


<div class="container  table-responsive listview">
    <h2>IP View</h2>
    {% if user.is_superuser %}
    <!-- export table equipment  -->
    <a href="#export to excel" id="export" style="float: right;" class="btn btn-outline-secondary">Export to Excel</a>
    <!-- ลิ้งค์ไปหน้า Add IP Network -->
    <a href="{% url 'add-network' %}" class="btn btn-outline-success add">Add IP Network</a> {% endif %}


    <div class="row" style="margin-top: 5%;">
        <div class="col-md" style="padding: 0">
        </div>
        <div class="col-md" style="padding: 0">
            <!-- ช่องกรอกข้อมูลสำหรับค้นหา -->
            <div class="input-group md-form form-sm form-2 pl-0 search" style="float: right;">
                <input class="form-control my-0 py-1 lime-border mySearch" id="mySearch" type="search" placeholder="Search" aria-label="Search" style="max-width: 50%; margin-left: 50%;">
                <div class="input-group-append">
                    <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>

    <!-- table แสดงรายชื่อ ip network  -->
    <table id="myTable" class="table table-hover table-view tablesorter">
        <thead>
            <tr>
                <th>IP Network</th>
                <th>Subnet</th>
                <th>VLAN</th>
                <th>User</th>
                <th>Used</th>
                <th>Create at</th>
            </tr>
        </thead>
        <tbody id="myBody">
        </tbody>
    </table>
</div>

{% include 'model_user.html' %}

<div id="table_export"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    // ล้าง storage ที่เคยบันทึกข้อมูลไว้
    $('document').ready(function() {
        localStorage.clear();
    });
</script>
<script>
    // สร้าง table สำหรับ export 
    $('#export').click(function() {
        var table = '<table style="display:none;" id="table_export">';
        table += '<tr>';
        table += '<th>IP Network</th>';
        table += '<th>Subnet</th>';
        table += '<th>User</th>';
        table += '<th>Create at</th>';
        table += '<th>Used</th>';
        table += '<th>IP Address</th>';
        table += '</tr>';


        var hosts = [];
        "{% for x in hosts reversed %}"
        hosts.push("{{x}}");
        "{% endfor %}"
        var hosts_create = [];
        "{% for y in hosts_create reversed %}"
        hosts_create.push("{{y}}");
        "{% endfor %}"
        var i = 0;
        "{% for ip_network in ip_network reversed %}"
        table += "<tr>";
        table += "<td style='vertical-align : middle;'>{{ip_network.ip_network}}</td>";
        table += "<td style='vertical-align : middle;'>{{ip_network.subnet}}</td>";
        table += "<td style='vertical-align : middle;'>{{ip_network.user}}</td>";
        table += "<td style='vertical-align : middle;'>{{ip_network.create_at}}</td>";
        var ip_address = "";
        "{% for ip_address_create in ip_address_create %}"
        if ("{{ ip_address_create.ip_network.id }}" == "{{ ip_network.id }}") {
            ip_address += "{{ ip_address_create.ip_address }}<br>";
        }
        "{% endfor %}"
        table += "<td style='vertical-align : middle;'>";
        table += String(hosts_create[i]);
        table += "/";
        table += String(hosts[i]);
        table += '</td>';
        table += "<td style='vertical-align : middle;'>" + ip_address + "</td>";
        table += "</tr>";
        i++;
        "{% endfor %}"

        $('#table_export').replaceWith(table);
        $("#table_export").table2excel({
            filename: "table_ip_network.xls"
        });
        var table_export = '<div id="table_export"></div>';
        $('#table_export').replaceWith(table);
    })
</script>

<script type="text/javascript">
    // ลิสรายชื่อ ip network ทั้งหมด
    var hosts = [];
    "{% for x in hosts reversed %}"
    hosts.push("{{x}}");
    "{% endfor %}"
    var hosts_create = [];
    "{% for x in hosts_create reversed %}"
    hosts_create.push("{{x}}");
    "{% endfor %}"
    var body = "";
    var i = 0;
    var text_confirm = [];
    "{% for ip_network in ip_network reversed %}"
    text_confirm.push("คุณต้องการลบ IP Network {{ip_network.ip_network}}/{{ip_network.subnet}}")
    body += "<tr>";
    body += "<td style='vertical-align : middle;'>{{ip_network.ip_network}}</td>";
    body += "<td style='vertical-align : middle;'>{{ip_network.subnet}}</td>";
    body += "<td style='vertical-align : middle;'>{{ip_network.v_lan}}</td>";
    body += "<td style='vertical-align : middle;' data-toggle='modal' data-target='#user{{ ip_network.user.id }}' class='open-model-view'>{{ip_network.user}}</td>";
    body += "<td style='vertical-align : middle;'>";
    body += String(hosts_create[i]);
    body += "/";
    body += String(hosts[i]);
    body += '</td>';
    body += "<td style='vertical-align : middle;'>{{ip_network.create_at}}</td>";
    body += "<td style='vertical-align : middle;'><a href='{% url 'ip-detail' ip_network.id %}' class='btn btn-outline-primary' role='button'>Detail</a></td>";
    "{% if user.is_superuser %}"
    body += "<td style='vertical-align : middle;'><a onclick='return DeleteIPNetwork(" + i + ");' href='{% url 'delete-network' ip_network.id %}' class='btn btn-outline-danger' role='button'>Delete</a></td>";
    "{% endif %}"
    body += "</tr>";
    i++;
    "{% empty %}"
    body += "<tr>";
    body += "<td colspan='9' style='vertical-align : middle;  text-align: center;'>NO DATA</td>";
    body += "</tr>";
    "{% endfor %}"
    $('#myBody').append(body);


    // ฟังก์ชั่นตรวจสอบหลังกดปุ่ม delete
    function DeleteIPNetwork(text) {
        if (hosts_create[text] == 0) {
            var r = confirm(text_confirm[text]);
            if (r == true)
                return true;
            else
                return false;
        } else {
            alert("ท่านต้องลบ IP Address ทั้งหมดใน IP Network ให้หมดก่อน")
            return false;
        }
    }
</script>
<script>
    // จัดเรียงตามชื่อ ip network ไม่สมบูรณ์
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
        switching = false;
        rows = table.rows;
        for (var i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[0];
            y = rows[i + 1].getElementsByTagName("TD")[0];
            if (parseInt(x.innerHTML, 16) > parseInt(y.innerHTML, 16)) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }
</script>
{% endblock %}